<% layout('../../../layouts/client/app') %>

<% block('metaTags', `
    <meta name="description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta name="keywords" content="Đồ nội thất mây, đồ nội thất mây, ghế mây, đồ nội thất thủ công"/>

    <meta property="og:url" content="${originalUrl}" id="fbUrl" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="${titleRedis(info)} | Thông tin người dùng" />
    <meta property="og:description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta property="og:image" content="https://mayhienhome.com/public/client/images/logo/fullLogo.png" />
`) %>

<% stylesheet('/public/client/css/styleProfile.css') %>

<% block('title', __('user.info.title')) %>

<div id="contents">

    <div class="titleArea">
        <h2><%= __('user.info.title') %></h2>
    </div>

    <div class="xans-element- xans-myshop xans-myshop-asyncbenefit">
        <div class="ec-base-box typeMember gMessage ">
            <div class="information">
                <p class="thumbnail"><img src="" alt=""
                                          onerror="this.src='//img.echosting.cafe24.com/skin/base/member/img_member_default.gif';"
                                          class="myshop_benefit_group_image_tag"/></p>
                <div class="description">
                    <p><%= __('user.thank-for-using') %></p>
                </div>
            </div>
        </div>
    </div>

    <form action="" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="xans-element- xans-member xans-member-edit">
            <h3><%= __('user.info.basic') %></h3>
            <p class="required "><span class="red-note">&#8277;</span> <%= __('user.info.required-fields') %></p>
            <div class="ec-base-table typeWrite">
                <table border="1" summary="">
                    <caption><%= __('user.info.basic') %></caption>
                    <colgroup>
                        <col style="width:150px;"/>
                        <col style="width:auto;"/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row"><%= __('user.info.email') %> <span class="red-note">&#8277;</span></th>
                        <td>
                            <input name="email" value="<%= user.email || old('email') %>" type="text" autocomplete="off" disabled/>
                            <%= __(errors('email') || ' ', __('user.info.email')) %>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><%= __('user.info.password.current') %> <span class="red-note">&#8277;</span></th>
                        <td>
                            <input name="password" type="password"/>
                            <%= __(errors('password') || ' ', __('user.info.password.current')) %>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><%= __('user.info.password.new') %> <span class="red-note">&#8277;</span></th>
                        <td>
                            <input name="newPassword" type="password"/>
                            <%= __(errors('newPassword') || ' ', __('user.info.password.new')) %>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><%= __('user.info.password.confirm') %> <span class="red-note">&#8277;</span></th>
                        <td>
                            <input name="passwordConfirmation" type="password"/>
                            <%= __(errors('passwordConfirmation') || ' ', __('user.info.password.confirm')) %>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><%= __('user.info.name') %> <span class="red-note">&#8277;</span></th>
                        <td>
                            <input name="name" class="ec-member-name" value="<%= old('name', user.name) %>" type="text"/>
                            <%= __(errors('name') || ' ', __('user.info.name')) %>
                        </td>
                    </tr>
                    <tr class="">
                        <th scope="row"><%= __('user.info.address') %> <span class="red-note">&#8277;</span></th>
                        <td>
                            <input name="address" value="<%= old('address', user.address || '') %>" type="text"/>
                            <%= __(errors('address') || ' ', __('user.info.address')) %>
                        </td>
                    </tr>
                    <tr class="">
                        <th scope="row"><%= __('user.info.telephone') %> <span class="red-note">&#8277;</span></th>
                        <td>
                            <input name="telephone" value="<%= old('telephone', user.telephone) %>" type="text"/>
                            <%= __(errors('telephone') || ' ', __('user.info.telephone')) %>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3 class=" "><%= __('user.additional-info') %></h3>
            <div class="ec-base-table typeWrite ">
                <table border="1" summary="">
                    <colgroup>
                        <col style="width:150px;"/>
                        <col style="width:auto;"/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row"><%= __('user.info.gender.title') %></th>
                        <td>
                            <% const gender = user.gender ? user.gender.toString() : ''; %>
                            <input id="is_male" name="gender" type="radio"
                                   value="1" <%= old('gender', gender) === '1' ? 'checked' : '' %>/>
                            <label for="is_male"><%= __('user.info.gender.male') %></label>
                            <input id="is_female" name="gender" type="radio"
                                   value="2" <%= old('gender', gender) === '2' ? 'checked' : '' %>/>
                            <label for="is_female"><%= __('user.info.gender.female') %></label>
                            <input id="is_another" name="gender" type="radio"
                                   value="3" <%= old('gender', gender) === '3' ? 'checked' : '' %>/>
                            <label for="is_another"><%= __('user.info.gender.another') %></label>
                            <%= __(errors('gender') || ' ', __('user.info.gender.title')) %>
                        </td>
                    </tr>
                    <tr class="">
                        <th scope="row"><%= __('user.info.birthday') %></th>
                        <td>
                            <input name="birthday" value="<%= old('birthday', user.birthday ? moment(user.birthday).format('DD/MM/YYYY') : '') %>" type="text"/>
                            <%= __(errors('birthday') || ' ', __('user.info.birthday')) %>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="ec-base-button justify">
                <button class="custom_btn custom_btn_login custom_btn_submit"><%= __('user.info.change') %></button>
                <a href="/nguoi-dung" class="custom_btn custom_btn_login custom_btn_submit"><%= __('user.back-to-dashboard') %></a>
            </div>
            <!--<div class="layerLeave ec-base-layer" id="">
                <div class="header">
                    <h3>회원탈퇴</h3>
                </div>
                <div class="content">
                    <div class="ec-base-box typeMember">
                        <div class="information">
                            <strong class="title">혜택 내역</strong>
                            <div class="description">
                                <ul>
                                    <li id="">탈퇴시 보유하고 있는 적립금은 모두 삭제됩니다.</li>
                                    <li>현재 적립금 : <strong id="" class="txtEm">0</strong>
                                    </li>
                                    <li id="">현재 예치금 : <strong id="" class="txtEm">0</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>회원탈퇴 사유</h4>
                    <div class="ec-base-table typeWrite">
                        <table border="1" summary="">
                            <caption>회원탈퇴 사유</caption>
                            <colgroup>
                                <col style="width:140px;"/>
                                <col style="width:auto;"/>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">선택</th>
                                <td></td>
                            </tr>
                            <tr id="">
                                <th scope="row">기타</th>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ec-base-button">
                    <a href="#none" id=""><img
                                src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_leave.gif" alt="탈퇴"/></a>
                    <a href="#none" onclick="$('#').hide();"><img
                                src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_leave_cancel.gif"
                                alt="취소"/></a>
                </div>
                <a href="#none" class="close" onclick="$('#').hide();"><img
                            src="//img.echosting.cafe24.com/skin/base/common/btn_close.gif" alt="닫기"/></a>
            </div>-->
        </div>
    </form>
</div>
