<% layout('/layouts/client/app') %>

<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.css') %>

<% script('https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js') %>
<% script('/public/admin/js/cropper.js') %>

<% block('title', 'Thông tin người dùng') %>

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Thông tin người dùng</h1>
                <ul class="breadcrumbs">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active">Người dùng</li>
                    <li class="active">Thông tin người dùng</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- My profile start -->
<div class="content-area my-profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <% include ../../../layouts/client/partials/userSidebar.ejs %>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <!-- My address start-->
                <div class="my-address">
                    <form action="" method="POST" class="user__form" data-key="<%= user._id %>">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="form-group">
                            <label>Tên</label>
                            <input type="text" class="input-text" name="name"
                                   placeholder="Nhập tên" value="<%= old('name', user.name) %>">
                            <p class="form__error-message"><%= errors('name') %></p>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="input-text" name="email" <%= user.email ? 'disabled' : '' %>
                                   placeholder="Nhập email" value="<%= !user.email ? old('email', user.email) : user.email %>">
                            <p class="form__error-message"><%= errors('email') %></p>
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input type="text" class="input-text" name="telephone"
                                   placeholder="Nhập số điện thoại" value="<%= old('telephone', user.telephone) %>">
                            <p class="form__error-message"><%= errors('telephone') %></p>
                        </div>
                        <div class="form-group">
                            <label>Ngày sinh</label>
                            <input type="text" class="input-text" name="birthday"
                                   placeholder="DD/MM/YYYY" value="<%= old('birthday', moment(user.birthday).format('DD/MM/YYYY')) %>">
                            <p class="form__error-message"><%= errors('birthday') %></p>
                        </div>
                        <div class="form-group">
                            <label>Giới tính</label>
                            <div>
                                <label for="male">Nam</label>
                                <input type="radio" id="male" name="gender" value="1"
                                        <%= old('gender', user.gender) == 1 ? 'checked' : '' %> style="margin: 0 15px 0 5px"/>
                                <label for="female">Nữ</label>
                                <input type="radio" id="female" name="gender" value="2"
                                        <%= old('gender', user.gender) == 2 ? 'checked' : '' %> style="margin: 0 15px 0 5px"/>
                                <label for="other">Khác</label>
                                <input type="radio" id="other" name="gender" value="3"
                                        <%= old('gender', user.gender) == 3 ? 'checked' : '' %> style="margin: 0 15px 0 5px"/>
                            </div>
                            <p class="form__error-message"><%= errors('gender') %></p>
                        </div>
                        <button href="#" class="btn button-md button-theme">Thay đổi</button>
                    </form>
                </div>
                <!-- My address end -->
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="cropImageModal" aria-labelledby="cropImageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cắt ảnh đại diện</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary pull-right user__crop-image__finish-btn">Hoàn tất</button>
            </div>
        </div>
    </div>
</div>
