<% layout('/layouts/client/app') %>

<% block('title', `Blog - ${blogArticle.title}`) %>

<div class="sub-banner overview-bgi">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Bài viết chi tiết</h1>
                <ul class="breadcrumbs">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="/blog">Blog</a></li>
                    <li class="active"><%= blogArticle.title %></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Blog body start -->
<div class="blog-body content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-12">
                <!-- Blog box start -->
                <div class="thumbnail blog-box clearfix">
                    <% if (blogArticle.display.useVideo) { %>
                        <iframe class="blog-article__iframe" src="<%= blogArticle.display.video %>"></iframe>
                    <% } else { %>
                        <img src="<%= blogArticle.display.image %>" alt="<%= blogArticle.title %>" class="img-responsive">
                    <% } %>
                    <!-- detail -->
                    <div class="caption detail">
                        <!--Main title -->
                        <h3 class="title"><%= blogArticle.title %></h3>
                        <!-- Post meta -->
                        <div class="post-meta">
                            <span><a><i class="fa fa-user"></i><%= blogArticle.author ? blogArticle.author.name : '' %></a></span>
                            <span><a><i class="fa fa-calendar "></i><%= moment(blogArticle.createdAt).format('DD/MM/YYYY') %></a></span>
                            <span><a href="/blog/chuyen-muc-<%= blogArticle.category.slug %>"><i class="fa fa-bars"></i> <%= blogArticle.category.name %></a></span>
                        </div>
                        <!-- paragraph -->
                        <%- blogArticle.content %>

                        <div class="row clearfix t-s">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                <div class="tags-box">
                                    <h2>Tags</h2>
                                    <% if (blogArticle.tags) { %>
                                        <ul class="tags">
                                            <% blogArticle.tags.forEach(function (tag) { %>
                                                <li><a href="/blog/the-<%= tag.slug %>"><%= tag.name %></a></li>
                                            <% }) %>
                                        </ul>
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <div class="social-media clearfix blog-share">
                                    <h2>Share</h2>
                                    <ul class="social-list">
                                        <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="comments-section sidebar-widget">-->
                    <!--<div class="main-title-2">-->
                        <!--<h1><span>Comments </span> Section</h1>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; Facebook &ndash;&gt;-->
                <!--</div>-->
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="sidebar">
                    <div class="sidebar-widget search-box">
                        <form class="form-inline form-search" method="GET" action="/blog">
                            <div class="form-group">
                                <label class="sr-only">Search</label>
                                <input type="text" name="search" class="form-control" placeholder="Tìm kiếm">
                            </div>
                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <%- include ../../../layouts/client/partials/sidebar.ejs %>
                </div>
            </div>
        </div>
    </div>
</div>
