<% layout('../../../layouts/client/blog') %>

<% block('metaTags', `
    <meta name="description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta name="keywords" content="Đồ nội thất mây, đồ nội thất mây, ghế mây, đồ nội thất thủ công"/>

    <meta property="og:url" content="${originalUrl}" id="fbUrl" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="${titleRedis(info)} | Tin ${blogArticle.title}" />
    <meta property="og:description" content="${blogArticle.description}" />
    <meta property="og:image" content="${blogArticle.display.image || 'https://mayhienhome.com/public/client/images/logo/fullLogo.png'}" />
`) %>

<% block('title', `Blog - ${blogArticle.title}`) %>

<article
   class="cth-single content-single single-article post-15 post type-post status-publish format-video has-post-thumbnail hentry category-films category-trip tag-adventure tag-camping tag-happy post_format-post-format-video">
   <h1 class="single-article-title fl-wrap"><span><%= blogArticle.title %></span></h1>
   <div class="single-article-cat fl-wrap">
      <ul class="post-categories">
         <li><a href="/blog/chuyen-muc-<%= blogArticle.category.slug %>" rel="category tag"><%= blogArticle.category.getName(language) %></a></li>
      </ul>
   </div>
   <div class="clearfix"></div>
   <div class="separator img-separator"><img
      src="http://demowp.cththemes.net/springbook/wp-content/themes/springbook/images/sep-blk.png" alt="">
   </div>
    <% if (blogArticle.display.useVideo) { %>
        <div class="iframe__container">
            <iframe class="blog-article__iframe" src="<%= blogArticle.display.video %>" allowfullscreen></iframe>
        </div>
    <% } else { %>
        <img src="<%= blogArticle.display.image %>" alt="<%= blogArticle.title %>" class="img-responsive">
    <% } %>

   <div class="single-article-inner d-flex flex-column">
      <div class="single-article-content">
         <%- blogArticle.content %>
          <div style="margin: 10px 0;">
              <div class="fb-like" data-href="<%= originalUrl %>"
                   data-layout="button_count" data-action="like" data-size="small"
                   data-show-faces="true" data-share="true"></div>
          </div>
         <div class="fl-wrap share-buts-wrap">
             <% if (blogArticle.tags && blogArticle.tags.length) { %>
                <div class="single-post-tags fl-left"><i class="fa fa-tags"></i>
                    <% blogArticle.tags.forEach((tag) => { %>
                        <a href="/blog/tag-<%= tag.slug%>" rel="tag"><%= tag.getName(language) %></a>
                    <% }) %>
                </div>
             <% } %>
         </div>
      </div>
      <div class="limit-box"></div>
   </div>
</article>

<div class="clearfix"></div>
<% if (relatedArticles.length) {  %>
    <div class="post-related-wrap">
        <h3 class="middle-title"><%= __('blog.article.related') %></h3>
        <div class="post-related row">
            <% relatedArticles.forEach((article) => { %>
                <div class="item-related col-md-4">
                    <a href="<%= article.slug %>">
                        <% if (article.display.useVideo) { %>
                            <div class="iframe__container">
                                <iframe class="blog-article__iframe" src="<%= article.display.video %>" allowfullscreen></iframe>
                            </div>
                        <% } else { %>
                            <img src="<%= article.display.image %>" alt="<%= article.title %>" class="img-responsive">
                        <% } %>
                    </a>
                    <h3><a href="<%= article.slug %>"><%= article.title %></a></h3>
                    <span class="post-date"><%= moment(article.createdAt).format('L') %></span>
                </div>
            <% }) %>
        </div>
    </div>
<% } %>

<div class="fb-comments" data-href="<% originalUrl %>" data-numposts="10"></div>
