<% layout('../../../layouts/client/blog') %>

<% block('title', 'Hello world') %>
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1';
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<article
   class="cth-single content-single single-article post-15 post type-post status-publish format-video has-post-thumbnail hentry category-films category-trip tag-adventure tag-camping tag-happy post_format-post-format-video">
   <h1 class="single-article-title fl-wrap"><span><%= blogArticle.title %></span></h1>
   <div class="single-article-cat fl-wrap">
      <ul class="post-categories">
         <li><a href="/blog/chuyen-muc-<%= blogArticle.category.slug %>" rel="category tag"><%= blogArticle.category.name %></a></li>
      </ul>
   </div>
   <div class="clearfix"></div>
   <div class="separator img-separator"><img
      src="http://demowp.cththemes.net/springbook/wp-content/themes/springbook/images/sep-blk.png" alt="">
   </div>
   <% if(blogArticle.display.useVideo === 'underfined') { %> 
   <div class="blog-media">
      <div class="resp-video">
        <video width="616" height="347" controls>
            <source src="<%= blogArticle.display.useVideo %>" type="video/mp4">
            <source src="<%= blogArticle.display.useVideo %>" type="video/ogg">
        </video>
      </div>
   </div>
   <% } %>
   <div class="single-article-inner d-flex flex-column">
      <div class="single-article-content">
         <p><%= blogArticle.content %></p>
         <div class="fl-wrap share-buts-wrap">
            <div class="single-post-tags fl-left"><i class="fa fa-tags"></i>
                <%  blogArticle.tags.forEach((tag) => { %>
                <a href="#" rel="tag"><%= tag.name %></a>
                <% }) %>
            </div>

            <div class="share-button">
              <div class="fb-share-button" data-href="https://www.facebook.com/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
            </div>
            <div class="share-inner">
               <div class="share-container"
                  data-share="['facebook&#039;,&#039;pinterest&#039;,&#039;googleplus&#039;,&#039;twitter&#039;,&#039;linkedin']"></div>
            </div>
         </div>
      </div>
      <div class="limit-box"></div>
   </div>
</article>

<div class="clearfix"></div>
<div class="post-related-wrap">
   <h3 class="middle-title">Bài viết tiếp theo</h3>
   <div class="post-related row">
     <% if(postNext.length === 0 ) {  %>
        Không có bài viết cùng thể loại
      <% } else { %>
        <% postNext.forEach((article) => { %>
      <div class="item-related col-md-4">
         <a href="<%= article.slug %>"><img width="293" height="194"
            src="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/27.jpg"
            class="attachment-springbook-related size-springbook-related wp-post-image"
            alt="27" sizes="(max-width: 293px) 100vw, 293px"/></a>
         <h3><a href="<%= article.slug %>"><%= article.title %></a></h3>
         <span
            class="post-date"><%= moment(article.updatedAt).format('L') %></span>
      </div>
      <% }) %>
    <% } %>
   </div>
</div>

<div id="fb-root"></div>


<div class="fb-comments" data-href="https://www.facebook.com/" data-width="616" data-numposts="7"></div>