<div class="main-sidebar-widgets">
    <div class="search-form-holder">    
        <div class="search-form-wrap">
            <form class="searchform" method="GET" action="">
                <input type="text" autocomplete="off" name="search" placeholder="Type and Enter to Search">
            </form>
        </div>
    </div>
    <div id="springbook-recent-posts-3" class="widget main-sidebar-widget springbook_recent_posts">
        <h3>Bài viết gần đây</h3>
        <div class="recent-post-widget">
            <ul>
               <% if(postRecent.length === 0) { %>
                    <p>Không có bài viết nào</p>
                <% } else { %>
                    <% postRecent.forEach((post) => { %>
                      
                        <li>
                            <div class="recent-post-img">
                                <a href="/blog/<%= post.slug %>" class="widget-posts-img"><img width="50" height="50" src="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2-50x50.jpg" class="respimg wp-post-image" alt="2" srcset="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2-50x50.jpg 50w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2-150x150.jpg 150w" sizes="(max-width: 50px) 100vw, 50px" /></a>
                            </div>
                            <div class="recent-post-content">
                                <h4><a href="/blog/<%= post.slug %>" title="<%= post.title %>"><%= post.title %></a></h4>
                                <div class="recent-post-opt"> <span class="post-date"><%= moment(post.createdAt).format('L') %></span> </div>
                            </div>
                        </li>
                    <% }) %>
                <% } %>
            </ul>
        </div>
    </div>
    <div id="tag_cloud-2" class="widget main-sidebar-widget widget_tag_cloud">
        <h3>tags</h3>
        <div class="tagcloud">
            <ul class='wp-tag-cloud'>
                <% newTags.forEach((tag) => { %>
                <li><a href='/blog/the-<%= tag.slug%>' class='tag-link-4 tag-link-position-1' title='4 topics' style='font-size: 10px;'><%= tag.name %></a></li>
                <% }) %>
            </ul>
        </div>
    </div>

    <div id="categories-2" class="widget main-sidebar-widget widget_categories">
        <h3>Thể loại</h3>
        <ul>
            <% for(let i = 0; i< categories.length; i++ ) { %>
            <li class="cat-item cat-item-13"><a href="/blog/chuyen-muc-<%= categories[i].slug %> "><%= categories[i].name %></a> ( <%= categories[i].countArticle[0].count %> ) </li>
                
            <% } %>
        </ul>
    </div>
    
</div>
