<div class="fluid_row footer_address_row">
    <div class="fixed_row">
       <div class="widget_footer_sns">
          <ul>
             <li class=""><a href="#" target="_blank" class="transition_type1"><i class="fa fa-facebook-f"></i></a></li>
             <li><a href="#" target="_blank" class="transition_type1"><i class="fa fa-instagram"></i></a></li>
             
             <li><a href="#" target="_blank" class="transition_type1"><i class="fa fa-google"></i></a></li>
             <li><a href="#" target="_blank" class="transition_type1"><i class="fa fa-twitter"></i></a></li>
          </ul>
       </div>
       <ul class="utilMenu">
          <li><a href="#">GIỚI THIỆU</a></li>
          <li><a href="#">THỎA THUẬN</a></li>
          <li><a href="#"><strong>CHÍNH SÁCH</strong></a></li>
          <li><a href="#">HƯỚNG DẪN MUA SẮM</a></li>
       </ul>
       <div class="xans-element- xans-layout xans-layout-footer">
          <p class="address">
            <span><%= infoRedis('Tên công ty', info, 'company') %></span>
            <span><%= infoRedis('Tên đại diện', info, 'deputy') %></span>
            <span><%= infoRedis('Mã số thuế', info, 'tax') %></span>
            <br>
            <span>
                  <a href="tel:<%= info.phone %>"><%= infoRedis('Điện thoại', info, 'phone') %></a>
            </span>
            <span><%= infoRedis('Fax', info, 'fax') %></span> <span><%= infoRedis('Địa chỉ', info, 'location') %></span><br/><span><a href="mailto:<%= info.email %>"><%= infoRedis('Email', info, 'email') %></a></span> <span><a
                href="mailto:<%= info.security %>"><%= infoRedis('Cán bộ bảo mật', info, 'security') %></a></span><br/>
          </p>
          <p class="copyright hide">Copyright © <strong>demmo</strong>. All rights reserved. <a
             href="#" target="_blank">DESIGN MOON</a></p>
       </div>
    </div>
    <!-- /.fixed_row -->
</div>
