<div class="fluid_row footer_address_row p-5">
    <div class="container">
       <div class="row d-flex flex-column flex-md-row justify-content-between">
            <div class="col-auto d-flex row flex-column my-3">
                <h3 class="mb-4">MÂY HIÊN HOME</h3>
                <p class="mb-2">Địa chỉ: <%= info.location %></p>
                <p class="mb-2">Tel: <%= info.phone %></p>
                <p class="mb-2">Giờ mở cửa: <%= info.workingTime %></p>
                <p class="mb-2">Email: <%= info.email %></p>
            </div>
            <div class="col-auto row d-flex flex-column my-3">
                <h3 class="mb-4">SẢN PHẨM MỚI NHẤT</h3>
                <% footerNewestProducts.forEach((product) => { %>
                    <div class="col-auto mb-2 p-0">
                        <a href="#"><%= product.name %></a>
                        <p class="mt-1 post-date"><%= moment(product.createdAt).format('MMMM DD YYYY').toUpperCase() %></p>
                        <hr>
                    </div>
                <% }) %>
            </div>
            <div class="col-auto row d-flex flex-column my-3">
                <h3 class="mb-4">HỖ TRỢ KHÁCH HÀNG</h3>
                <a class="mt-2" href="/gioi-thieu">Giới thiệu</a>
                <a class="mt-2" href="/chinh-sach">Chính sách</a>
                <a class="mt-2" href="/cam-ket">Cam kết</a>
                <!--<a class="mt-2" href="/">Chế độ bảo hành</a>-->
            </div>
            <div class="col-auto d-flex facebook-page my-3">

            </div>
       </div>
    </div>
    <!-- /.fixed_row -->
</div>
