<%
    productTypes.forEach((type) => {
        if (type.childs && type.childs.length > 0) {
            return false;
        }
        type.childs = productTypes.filter(childType => {
            return childType.parentType ? childType.parentType.toString() === type._id.toString() : false;
        });
    });
    productTypes = productTypes.filter((type) => !type.parentType)
%>
<div class="header_area">
    <h1 class="xans-element- xans-layout xans-layout-logotop "><a href="/"><img
                    src="/public/client/images/icons/category/logo/2ddbf5cd7762b49575776e690a58df39_3_top.jpg"
                    alt="로렌 louren"/></a>
    </h1>
    <div class="widget_gnb_right">
        <ul>
            <li class="sub_menu_layer icon_member">
                <a href="#"><span class="hide">MEMBER</span></a>
                <div class="sub_menu">
                    <ul class="xans-element- xans-layout xans-layout-statelogoff ">
                        <li><a href="/dang-nhap" class="log">ĐĂNG NHẬP</a></li>
                        <li><a href="/dang-ky">ĐĂNG KÝ</a></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </li>
            <li class="xans-element- xans-layout xans-layout-orderbasketcount sub_menu_layer icon_cart ">
                <a href="/gio-hang" class="btnBasket">
                    <span class="count EC-Layout-Basket-count">
                        <em class="EC-Layout-Basket-count"><%= productQuantity %></em>
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <div class="widget_lnb_menu">
        <ul class="header_lnb_menu">
            <li class="lnb1"><a href="/">TRANG CHỦ</a></li>
            <li class="lnb2">
                <a href="/mat-hang">ONLINE SHOP <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <div class="xans-element- xans-layout xans-layout-category lnb_sub_menu">
                    <ul>
                        <% productTypes.forEach((type) => { %>
                            <li class="depth1 xans-record-">
                                <a href="/mat-hang/<%= type.slug %>"><%= type.name %></a>
                                <% if (type.childs.length > 0) { %>
                                    <div class="sub-category" style="display: none;">
                                        <ul>
                                            <% type.childs.forEach((childType) => { %>
                                                <li class="depth2">
                                                    <a href="/mat-hang/<%= childType.slug %>"><%= childType.name %></a>
                                                </li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                <% } %>
                            </li>
                        <% }) %>
                    </ul>
                </div>
                <!--/.lnb_sub_menu -->
            </li>
            <li class="lnb1"><a href="/blog">BLOG</a></li>
        </ul>
    </div>
</div>
