<%
    productTypes.forEach((type) => {
        if (type.childs && type.childs.length > 0) {
            return false;
        }
        type.childs = productTypes.filter(childType => {
            return childType.parentType ? childType.parentType.toString() === type._id.toString() : false;
        });
    });
    productTypes = productTypes.filter((type) => !type.parentType)
%>
<!--<div class="m-0 row d-flex sub__header justify-content-md-between justify-content-center align-items-center w-100">-->
    <!--<div class="col-auto d-flex pl-0">-->
        <!--<div class="col">-->
            <!--<i class="fa fa-envelope-o header__icon" aria-hidden="true"></i>-->
            <!--<a class="pl-2" href="mailto:mayhienhome@gmail.com"><%= info.email %></a>-->
        <!--</div>-->
        <!--<div class="col-auto">-->
            <!--<a href="#"><i class="fa fa-facebook header__icon" aria-hidden="true"></i>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-auto d-flex pr-0">-->
        <!--<div class="col-auto">-->
            <!--<i class="fa fa-headphones header__icon" aria-hidden="true"></i>-->
            <!--<a class="pl-2" href="tel:<%= info.phone %>"><%= info.phone %></a>-->
        <!--</div>-->
        <!--<div class="col-auto">-->
            <!--<i class="fa fa-clock-o header__icon" aria-hidden="true"></i>-->
            <!--<span class="pl-2"><%= info.workingTime %></span>-->
        <!--</div>-->
        <!--<div class="col-auto">-->
            <!--<i class="fa fa-map-marker header__icon" aria-hidden="true"></i>-->
            <!--<span class="pl-2"><%= info.location %></span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="header__contact clearfix" style="padding-top: 3px; padding-bottom: 6px">
    <div class="container">
        <ul class="list-inline pull-left">
            <li class="header__contact--list list-inline-item">
                <a href="tel:<%= info.phone %>">
                    <i class="fa fa-phone" aria-hidden=true></i> <%= info.phone %>
                </a>
            </li>
            <li class="header__contact--list list-inline-item">
                <a href="tel:<%= info.email %>">
                    <i class="fa fa-envelope" aria-hidden=true></i>
                    <%= info.email %>
                </a>
            </li>
        </ul>

        <ul class="list-inline list-unstyled pull-right">
            <li class="header__contact--list list-inline-item">
                <a href="#">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <%= info.location %>
                </a>
            </li>
            <li class="header__contact--list list-inline-item">
                <a href="#">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <%= info.workingTime %>
                </a>
            </li>
        </ul>
    </div>
</div>


<div class="header_area">
    <h1 class="xans-element- xans-layout xans-layout-logotop logo ">
        <a href="/">
            <img src="/public/client/images/logo/txtLogo.png" alt="<%= titleRedis(info) %>" />
        </a>
    </h1>
    <div class="widget_gnb_right">
        <ul>
            <li class="sub_menu_layer icon_search d-none d-md-block">
                <a href="/tim-kiem" class="text-upper"><img src="/public/client/images/icons/icon_search.png"></a>
            </li>
            <li class="sub_menu_layer icon_member d-none d-md-block">
                <!-- <a href="/member/login.html" module="Layout_statelogoff"><span class="hide">MEMBER</span></a>
                <a href="{$action_logout}" module="Layout_stateLogon"><span class="hide">MEMBER</span></a>-->
                <a href="#" class="item"><span class="hide"><%= __('member') %></span></a>
                <div class="sub_menu">
                    <ul class="xans-element- xans-layout xans-layout-statelogoff text-upper">
                        <% if (!cUser) { %>
                            <li><a href="/dang-nhap" class="log"><%= __('user.auth.login.title') %></a></li>
                            <li><a href="/dang-ky"><%= __('user.auth.register.title') %></a></li>
                            <li><a href="/quen-mat-khau"><%= __('user.auth.password.forgot') %></a></li>
                        <% } else { %>
                            <li><a href="/nguoi-dung"><%= __('user.dashboard') %></a></li>
                            <li><a href="/nguoi-dung/don-hang"><%= __('user.orders') %></a></li>
                            <li><a href="/dang-xuat"><%= __('user.auth.logout') %></a></li>
                        <% } %>
                    </ul>
                </div>
            </li>
            <li class="xans-element- xans-layout xans-layout-orderbasketcount sub_menu_layer icon_cart">
                <a href="/gio-hang" class="btnBasket">
                    <span class="count EC-Layout-Basket-count">
                        <em class="EC-Layout-Basket-count"><%= productQuantity %></em>
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <div class="hamburger">
        <input id="hamburger" type="checkbox" />

        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="widget_lnb_menu">
        <ul class="header_lnb_menu d-flex flex-md-row flex-column">
            <li class="lnb1"><a href="/"><%= __('home') %></a></li>
            <li class="lnb2">
                <a href="/mat-hang" class="text-upper product-sub-desktop"><%= __('product.category') %> <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <span class="text-upper product-sub-mobi"><%= __('product.category') %> <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                <div class="xans-element- xans-layout xans-layout-category lnb_sub_menu">
                    <ul>
                        <li class="depth1 xans-record- product-sub-mobi">
                            <a href="/mat-hang"><%= __('product.products') %></a>
                        </li>
                        <% productTypes.forEach((type) => { %>
                            <li class="depth1 xans-record-">
                                <a href="/mat-hang/<%= type.slug %>"><%= type.name %></a>
                                <% if (type.childs.length > 0) { %>
                                    <div class="sub-category" style="display: none;">
                                        <ul>
                                            <% type.childs.forEach((childType) => { %>
                                                <li class="depth2">
                                                    <a href="/mat-hang/<%= childType.slug %>"><%= childType.name %></a>
                                                </li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                <% } %>
                            </li>
                        <% }) %>
                        <li class="depth1 xans-record-">
                            <a href="/mat-hang/giam-gia"><%= __('product.sale-off') %></a>
                        </li>
                    </ul>
                </div>
                <!--/.lnb_sub_menu -->
            </li>
            <li class="lnb1"><a href="/blog" class="text-upper"><%= __('blog.header') %></a></li>
        </ul>
    </div>
</div>
