<div class="sidebar-widget hidden-xs hidden-sm">
    <div class="main-title-2">
        <h1><span>Advanced</span> Search</h1>
    </div>
    <% const checkHasCategory = typeof propertyCategory === 'undefined'; %>
    <form method="GET" class="property-articles__search-form"
          action="<%= checkHasCategory ? `/nha-dat-${propertyStatus.slug}/tim-kiem` : `/nha-dat-${propertyStatus.slug}/${propertyCategory.slug}/tim-kiem` %>">
        <% if (checkHasCategory) { %>
            <div class="form-group">
                <select class="selectpicker search-fields" name="category">
                    <option value="0">Loại hình</option>
                    <% propertyCategories.forEach(function (category) { %>
                    <option value="<%= category._id %>"
                            <%= query.category === category._id.toString() ? 'selected' : '' %>>
                        <%= category.name %>
                    </option>
                    <% }) %>
                </select>
            </div>
        <% } %>
        <div class="form-group">
            <select class="selectpicker search-fields" name="city" data-live-search="true">
                <option value="0">Tỉnh / Thành phố</option>
                <% cities.forEach(function (city) { %>
                    <option value="<%= city._id %>" <%= query.city === city._id.toString() ? 'selected' : '' %>>
                        <%= city.name %>
                    </option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <div class="form-group">
                <select class="selectpicker search-fields" name="district" data-live-search="true">
                    <option value="0">Quận / Huyện</option>
                    <% districts.forEach(function (district) { %>
                        <option value="<%= district._id %>" data-city="<%= district.city %>"
                                <%= query.district === district._id.toString() ? 'selected' : '' %>><%= district.name %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="form-group">
            <select class="selectpicker search-fields" name="type">
                <option value="0">Loại bất động sản</option>
                <% propertyTypes.forEach(function (type) { %>
                    <option value="<%= type._id %>"
                            <%= query.type === type._id.toString() ? 'selected' : '' %>><%= type.name %></option>
                <% }) %>
            </select>
        </div>
        <% propertyConditions.forEach((condition, index) => { %>
            <% if (index % 2 == 0) { %>
                <div class="row">
            <% } %>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <select class="selectpicker search-fields" name="conditions[<%= condition._id %>]">
                        <option value="0"><%= condition.name %></option>
                        <% for (let i = 1; i <= 5; i += 1) { %>
                            <% const check = query.conditions ? query.conditions[condition._id] === i.toString() : false %>
                            <option value="<%= i %>" <%= check ? 'selected' : '' %>><%= i %></option>
                        <% } %>
                    </select>
                </div>
            </div>
            <% if (index % 2 == 1 || (index % 2 == 0 && !propertyConditions[index + 1])) { %>
                </div>
            <% } %>
        <% }) %>

        <div class="range-slider area-slider">
            <label>Diện tích</label>
            <div data-min="0" data-max="1000" data-min-value="<%= query.minArea || 0 %>" data-max-value="<%= query.maxArea %>"
                 data-unit="Met vuông" data-min-name="minArea" data-max-name="maxArea"
                 class="range-slider-ui ui-slider" aria-disabled="false"></div>
            <div class="clearfix"></div>
        </div>

        <div class="range-slider price-slider">
            <label>Giá</label>
            <div data-min="0" data-max="10000" data-min-value="<%= query.minPrice || 0 %>" data-max-value="<%= query.maxPrice %>"
                 data-unit="Triệu" data-min-name="minPrice" data-max-name="maxPrice"
                 class="range-slider-ui ui-slider" aria-disabled="false"></div>
            <div class="clearfix"></div>
        </div>

        <a class="show-more-options" data-toggle="collapse" data-target="#options-content">
            <i class="fa fa-plus-circle"></i> Hiển thị thêm
        </a>
        <div id="options-content" class="collapse">
            <label class="margin-t-10">Features</label>
            <% propertyAmenities.forEach((amenity, index) => { %>
                <div class="checkbox checkbox-theme">
                    <input id="checkbox<%= index %>" type="checkbox" name="amenities" value="<%= amenity._id %>"
                           <%= query.amenities && query.amenities.includes(amenity._id.toString()) ? 'checked' : '' %>>
                    <label for="checkbox<%= index %>"><%= amenity.name %></label>
                </div>
            <% }) %>
        </div>

        <div class="form-group mb-0">
            <button class="search-button">Search</button>
        </div>
    </form>
</div>
