<div class="sidebar-widget hidden-xs hidden-sm">
    <div class="main-title-2">
        <h1><span>Advanced</span> Search</h1>
    </div>

    <form method="GET" class="property-articles__search-form">
        <div class="form-group">
            <select class="selectpicker search-fields" name="status">
                <option value="0">Trạng thái</option>
                <% propertyStatuses.forEach(function (status) { %>
                <option value="<%= status._id %>"><%= status.name %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <select class="selectpicker search-fields" name="city" data-live-search="true">
                <option value="0">Tỉnh / Thành phố</option>
                <% cities.forEach(function (city) { %>
                <option value="<%= city._id %>"><%= city.name %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <div class="form-group">
                <select class="selectpicker search-fields" name="district" data-live-search="true">
                    <option value="0">Quận / Huyện</option>
                    <% districts.forEach(function (district) { %>
                    <option value="<%= district._id %>" data-city="<%= district.city %>"><%= district.name %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="form-group">
            <select class="selectpicker search-fields" name="type">
                <option value="0">Loại bất động sản</option>
                <% propertyTypes.forEach(function (type) { %>
                <option value="<%= type._id %>"><%= type.name %></option>
                <% }) %>
            </select>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <select class="selectpicker search-fields" name="bedroom">
                        <option>Phòng ngủ</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <select class="selectpicker search-fields" name="bathroom">
                        <option>Phòng tắm</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <select class="selectpicker search-fields" name="balcony">
                        <option>Ban công</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <select class="selectpicker search-fields" data-live-search="true" name="garage">
                        <option>Gara</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="range-slider">
            <label>Diện tích</label>
            <div data-min="0" data-max="10000" data-unit="Met vuông" data-min-name="min_area" data-max-name="max_area"
                 class="range-slider-ui ui-slider" aria-disabled="false"></div>
            <div class="clearfix"></div>
        </div>

        <div class="range-slider">
            <label>Giá</label>
            <div data-min="0" data-max="100000" data-unit="Triệu" data-min-name="min_price" data-max-name="max_price"
                 class="range-slider-ui ui-slider" aria-disabled="false"></div>
            <div class="clearfix"></div>
        </div>

        <a class="show-more-options" data-toggle="collapse" data-target="#options-content">
            <i class="fa fa-plus-circle"></i> Show More Options
        </a>
        <div id="options-content" class="collapse">
            <label class="margin-t-10">Features</label>
            <% propertyAmenities.forEach((amenity, index) => { %>
            <div class="checkbox checkbox-theme">
                <input id="checkbox<%= index %>" type="checkbox" name="amenities" value="<%= amenity._id %>">
                <label for="checkbox<%= index %>"><%= amenity.name %></label>
            </div>
            <% }) %>
        </div>

        <div class="form-group mb-0">
            <button class="search-button">Search</button>
        </div>
    </form>
</div>
