<div class="sidebar-widget category-posts">
    <div class="main-title-2">
        <h1><b>Loại hình nổi bật</b></h1>
    </div>
    <ul class="list-unstyled list-cat">
        <% propertyCategories.forEach((category) => { %>
            <li><a href="/du-an/loai-hinh-<%= category.slug %>"><%= category.name %></a> <span>(<%= category.countPropertyArticles %>)  </span></li>
        <% }) %>
    </ul>
</div>
<div class="sidebar-widget popular-posts">
    <div class="main-title-2">
        <h1><b>Bài viết gần đây</b></h1>
    </div>
    <% recentPropertyArticles.forEach((article) => { %>
        <div class="media">
            <div class="media-left">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="media-object lazyload"
                     data-src="<%= article.display.image %>" alt="small-properties-1">
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="/du-an-<%= article.slug %>"><%= article.title %></a>
                </h3>
                <p><%= moment(article.createdAt).format('DD/MM/YYYY') %></p>
                <div class="price">
                    <%= article.showPrice() %>
                </div>
            </div>
        </div>
    <% }) %>
</div>
<div class="social-media sidebar-widget clearfix">
    <div class="main-title-2">
        <h1><b>Mạng xã hội</b></h1>
    </div>
    <ul class="social-list">
        <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
    </ul>
</div>
