<% if (typeof slides !== 'undefined') { %>
    <div class="owl-carousel owl-theme">
        <% slides.forEach((slide) => { %>
            <div class="item">
                <% if (slide.url) { %>
                    <a href="<%= slide.url %>">
                        <img data-src="<%= slide.image %>" title="<%= slide.title %>" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" class="ThumbImage owl-lazy">
                    </a>
                <% } else { %>
                    <img data-src="<%= slide.image %>" title="<%= slide.title %>" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" class="ThumbImage owl-lazy">
                <% } %>
            </div>
        <% }) %>
    </div>
<% } %>
