<% if (typeof slides !== 'undefined') { %>
    <div class="owl-carousel owl-theme">
        <% slides.forEach((slide) => { %>
            <div class="item">
                <% if (slide.url) { %>
                    <a href="<%= slide.url %>">
                        <img src="<%= slide.image %>" title="<%= slide.title %>" class="ThumbImage ">
                    </a>
                <% } else { %>
                    <img src="<%= slide.image %>" title="<%= slide.title %>" class="ThumbImage">
                <% } %>
            </div>
        <% }) %>
    </div>
<% } %>
