<div class="sorting-options">
    <span class="sorting__title">Sắp xếp</span>
    <select class="sorting" name="sort" value="<%= query.sort %>">
        <option value="1" <%= query.sort === '1' ? 'selected' : '' %>>Mới đến cũ</option>
        <option value="2" <%= query.sort === '2' ? 'selected' : '' %>>Cũ đến mới</option>
        <option value="3" <%= query.sort === '3' ? 'selected' : '' %>>Giá (Cao đến thấp)</option>
        <option value="4" <%= query.sort === '4' ? 'selected' : '' %>>Giá (Thấp đến cao)</option>
    </select>
</div>
