<% layout('../../../layouts/client/app') %>

<% block('metaTags', `
    <meta name="description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta name="keywords" content="Đồ nội thất mây, đồ nội thất mây, ghế mây, đồ nội thất thủ công"/>

    <meta property="og:url" content="${originalUrl}" id="fbUrl" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="${titleRedis(info)} | ${product.name}" />
    <meta property="og:description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta property="og:image" content="${hostname}${product.image.cover}" />
`) %>

<% stylesheet('/public/client/css/styleDetail.css') %>

<% block('beforeCommon', `
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/css/lightgallery.min.css">
    <style>
        .js .slider-single > div:nth-child(1n+2) { display: none }

        .js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }

        .item-box {
            background: #f0f0f0;
            color: #3498db;
            font-size: 2.25rem;
            padding: 2%;
            position: relative;
            text-align: center;
        }

        .slider-single .item-box {
            line-height: 10rem;
        }

        .slider-nav .item-box::before {
            content: "";
            display: block;
            padding-top: 75%;
        }

        .slider-nav .item-box img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        .slider-nav .item-box {
            min-width: 98px !important;
        }

        .slide-custom .slick-slide {
            min-width: 98px !important;
            margin: 0 5px;
        }

        header, img, p, span, div, article, aside, figcaption, figure, footer, header, hgroup, main, nav, section,
        ol, ul, li, button, input, textarea, td, tr, th, tbody, table {
            max-width: 100% !important;
        }

        .img-item {
            padding: 0 5px;
        }

        .slide-custom {
            margin-top: 15px;
        }

        .slick-track {
            min-width: max-content !important;
            min-width: -moz-max-content !important;
        }

        .slider-nav .slick-slide { cursor: pointer; }

        .slick-slide.is-active .item-box {
            color: #c00;
            background-color: #fff
        }

        .slick-slide img {
            width: 100%;
            object-fit: cover;
        }

        .autoslide .box {
            margin: 0 10px !important;
        }

        .product-item-related {
            padding: 10px;
        }

        .slide-showed .slick-list {
            height: auto !important;
            min-height: 500px;
            max-height: 500px;
        }

        .slide-showed .slick-list .slick-track {
            max-height: 500px;
        }
        .lg-backdrop {
            background: rgba(0, 0, 0, 0.9)
        }
    </style>
`) %>

<% block('title', product.name) %>

<div id="contents">
    <div class="xans-element- xans-product xans-product-detail">
        <div class="detailArea row d-flex flex-column flex-md-row">
            <div class="xans-element- xans-product xans-product-image imgArea col-12-auto col-md-auto">

                <div class="slider slider-single slide-showed" id="custom-easing">
                    <div class="img-item" data-src="<%= product.image.cover %>">
                        <img data-lazy="<%= product.image.cover %>"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                             class="ThumbImage lazyload">
                    </div>
                    <% product.image.array.forEach((img) => { %>
                    <div class="img-item" data-src="<%= img %>">
                        <img data-lazy="<%= img %>"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                             class="ThumbImage lazyload">
                    </div>
                    <% }) %>
                </div>
                <div class="slider slider-nav slide-custom">
                    <div>
                        <div class="item-box">
                            <img data-lazy="<%= product.image.cover %>"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                 class="image-item ThumbImage lazyload">
                        </div>
                    </div>
                    <% product.image.array.forEach((img) => { %>
                    <div>
                        <div class="item-box">
                            <img data-lazy="<%= img %>"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                 class="image-item lazyload ThumbImage">
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
            <div class="infoArea col-12 col-md p-0">
                <div class="headingArea ">
                    <div class="icon"></div>
                    <h1>
                        <%= product.name %>
                    </h1>
                </div>
                <div class="xans-element- xans-product xans-product-detaildesign">
                    <table border="1" summary="">
                        <tbody>
                        <tr class=" xans-record-">
                            <th scope="row"><span
                                        style="font-size:12px;color:#000000;font-weight:bold;">Giá: </span></th>
                            <td>
                                <% if (product.price.isAgreement) { %>
                                    Liên hệ
                                <% } else { %>
                                    <span class="" style="font-size:12px;color:#000000;font-weight:bold;">
                                        <span class="priceDisplay"></span>
                                        <input class="priceValue"
                                               value="<%= product.price.number %>"
                                               type="hidden"/>
                                        <span class="price dc_price priceDiscountText">
                                              <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                              <span class="priceDiscountPercent"></span>
                                        </span>
                                        <input class="priceDiscount"
                                               value="<%= product.discount %>"
                                               type="hidden"/>
                                    </span>
                                <% } %>
                            </td>
                        </tr>
                        <tr class=" xans-record-">
                            <th scope="row"><span style="font-size:12px;color:#555555;">Mã sản phẩm</span></th>
                            <td><span style="font-size:12px;color:#555555;"><%= product.sku %></span></td>
                        </tr>
                        <tr class=" xans-record-">
                            <th scope="row"><span style="font-size:12px;color:#555555;">Loại sản phẩm: </span></th>
                            <td>
                                <span style="font-size:12px;color:#555555;">
                                      <%= product.type.name %>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="guideArea">
                    <% if (!product.price.isAgreement) { %>
                        <p class="info" style="display: flex; justify-content: space-between; align-items: center;">
                            <span>Chọn số lượng và thêm vào giỏ hàng</span>
                            <input type="number" style="min-height: 30px; width: 100px; text-align: center;" min="0"
                                    name="quantityBuy" value="1" id="quantityBuy">
                        </p>
                    <% } else { %>
                        <p class="info" style="font-weight: 700;">
                            Quý khách vui lòng liên hệ đến hotline <%= info.phone %> để đặt hàng. Xin cảm ơn!
                        </p>
                    <% } %>
                </div>
                <% if (product.isApproved && !product.isDraft) { %>
                    <div class="xans-element- xans-product xans-product-action ">
                        <div class="ec-base-button" style="text-align: left">
                            <!--<a href="#none" class="first custom_btn_buy " id="buyNow">-->
                                <!--<span id="btnBuy" class="transition_type1">Mua ngay</span>-->
                            <!--</a>-->
                            <% if (!product.price.isAgreement) { %>
                                <a class="custom_btn_basket first custom_btn_buy add-to-cart-btn" id="addCart"
                                   data-id="<%= product._id %>" style="text-align: center">
                                    <span class="transition_type1">Thêm vào giỏ hàng</span>
                                </a>
                            <% } %>
                            <span class="custom_btn_soldout displaynone" id="soldOut"
                                  data-quantity="<%= product.quantity %>" style="line-height: 60px;text-align: center">Hết hàng</span>
                            <!--<a href="#none" class="custom_btn_wish " style="text-align: center"><span-->
                                        <!--class="transition_type1">Yêu thích</span></a>-->
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="supplyInfo displaynone">
        </div>
    </div>
    <div class="xans-element- xans-product xans-product-additional">
        <div id="prdDetail" class="custom_detail_tabs ">
            <ul class="menu">
                <li class="selected"><a href="#prdDetail"><span
                        >CHI TIẾT</span></a></li>
                <li><a href="#prdInfo"><span
                        >THÔNG TIN SẢN PHẨM</span></a></li>
                <li><a href="#prdReview"><span
                        >BÌNH LUẬN</span></a></li>
            </ul>
            <div class="eventArea cont displaynone">
                <div class="event"></div>
            </div>
            <div class="cont">
                <%- product.detail %>
            </div>
        </div>
        <div id="prdInfo" class="custom_detail_tabs ">
            <ul class="menu">
                <li class="selected"><a href="#prdDetail"><span
                        >CHI TIẾT</span></a></li>
                <li><a href="#prdInfo"><span
                        >THÔNG TIN SẢN PHẨM</span></a></li>
                <li><a href="#prdReview"><span
                        >BÌNH LUẬN</span></a></li>
            </ul>
            <div class="cont">
                <%- product.info %>
            </div>
        </div>
        <div id="prdReview" class="custom_detail_tabs ">
            <ul class="menu">
                <li><a href="#prdDetail"><span
                        >CHI TIẾT</span></a></li>
                <li><a href="#prdInfo"><span
                        >THÔNG TIN SẢN PHẨM</span></a></li>
                <li class="selected"><a href="#prdReview"><span
                        >BÌNH LUẬN</span></a></li>
            </ul>
            <div class="comments">
                <div class="fb-comments" data-href="<% originalUrl %>" data-numposts="10"></div>
            </div>
        </div>
        <div id="prdRelated" class="cont">
            <h2 style="font-size: 19px">SẢN PHẨM CÙNG CHUYÊN MỤC</h2>

            <div class="xans-element- xans-product xans-product-listnormal ec-base-product">
                <ul class="prdList hover_zoom grid5 autoplay m-0">
                    <% productsRelated.forEach((productItem) => { %>
                    <li class="item xans-record- product-item-related">
                        <div class="box">
                            <div class="thumbnail">
                                <a href="/san-pham/<%= productItem.slug %>" class="thumb_link">
                                    <img data-lazy="<%= productItem.image.cover %>"
                                         src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                         alt="<%= productItem.name %>" class="thumb img-class lazyload">
                                </a>
                                <div class="custom_layer_btn">
                                    <ul>
                                        <% if (!productItem.price.isAgreement) { %>
                                            <li data-id="<%= productItem._id %>"
                                                class="cart shopping__icon add-to-cart-btn" title="Thêm vào giỏ hàng">
                                                <i class="fa fa-shopping-cart"></i>
                                            </li>
                                        <% } else { %>
                                            <li class="cart shopping__icon telephone__text">
                                                Liên hệ: <%= info.phone %>
                                            </li>
                                        <% } %>
                                        <!--<li class="wish_btn shopping__icon" title="Yêu thích">-->
                                            <!--<i class="fa fa-heart-o"></i>-->
                                        <!--</li>-->
                                    </ul>
                                </div>
                                <!-- /.custom_layer_btn -->
                                <!--<div class="like_button">-->
                                    <!--<div class="likeButton">-->
                                        <!--<button type="button" title="Bình chọn" class="rate">-->
                                            <!--<i class="fa fa-star-o"></i>-->
                                            <!--<strong><span>0</span></strong>-->
                                        <!--</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                            <div class="description">
                                <strong class="name">
                                    <a href="/san-pham/<%= productItem.slug %>">
                                        <span class="product__name"><%= productItem.name %><br></span>
                                    </a>
                                </strong>
                                <ul class="xans-element- xans-product xans-product-listitem spec">
                                    <li class="xans-record-">
                                        <% if (productItem.price.isAgreement) { %>
                                            Liên hệ: <%= info.phone %>
                                        <% } else { %>
                                            <span class="priceDisplay"></span>
                                            <input class="priceValue"
                                                   value="<%= productItem.price.number %>"
                                                   type="hidden"/>
                                            <span class="price dc_price priceDiscountText">
                                                        <i class="fa fa-long-arrow-down"
                                                           aria-hidden="true"></i>
                                                        <span class="priceDiscountPercent"></span>
                                                    </span>
                                            <input class="priceDiscount"
                                                   value="<%= productItem.discount %>"
                                                   type="hidden"/>
                                        <% } %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>


<% block('script', `
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/js/lightgallery.min.js"></script>
<script>
$(document).ready(function() {
    $('.slider-single').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        lazyLoad: 'ondemand',
        fade: false,
        adaptiveHeight: true,
        infinite: false,
        useTransform: true,
        prevArrow: false,
        nextArrow: false,
        speed: 400,
    });

    $('.slider-nav')
        .on('init', function(event, slick) {
            $('.slider-nav .slick-slide.slick-current').addClass('is-active');
        })
        .slick({
            slidesToShow: 7,
            slidesToScroll: 7,
            dots: false,
            focusOnSelect: false,
            lazyLoad: 'ondemand',
            infinite: false,
            prevArrow: false,
            nextArrow: false,
            responsive: [{
                  breakpoint: 1024,
                  settings: {
                        slidesToShow: 5,
                        slidesToScroll: 5,
                  }
            }, {
                  breakpoint: 640,
                  settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                  }
            }, {
                  breakpoint: 420,
                  settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
            }
            }]
        });

    $('.slider-single').on('afterChange', function(event, slick, currentSlide) {
        $('.slider-nav').slick('slickGoTo', currentSlide);
        var currrentNavSlideElem = '.slider-nav .slick-slide[data-slick-index="' + currentSlide + '"]';
        $('.slider-nav .slick-slide.is-active').removeClass('is-active');
        $(currrentNavSlideElem).addClass('is-active');
    });

    $('.slider-nav').on('click', '.slick-slide', function(event) {
        event.preventDefault();
        var goToSingleSlide = $(this).data('slick-index');

        $('.slider-single').slick('slickGoTo', goToSingleSlide);
    });

    $('.autoplay').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        lazyLoad: 'ondemand',
        prevArrow: false,
        nextArrow: false,
        autoplay: true,
        autoplaySpeed: 700,
        infinite: false,
        responsive: [{
                  breakpoint: 1400,
                  settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                  }
            }, {
                  breakpoint: 1200,
                  settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                  }
            }
            , {
                  breakpoint: 768,
                  settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                  }
            }, {
                  breakpoint: 576,
                  settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
            }
            }]
    });

    $('#custom-easing').lightGallery({
        selector: '.img-item',
        cssEasing: 'cubic-bezier(0.680, -0.550, 0.265, 1.550)',
        download: false,
    })
})
</script>
`) %>
