<% layout('../../../layouts/client/app') %>

<% stylesheet('/public/client/css/style.css') %>

<% block('title', 'Trang chủ') %>

<div id="contents">
    <div class="fixed_row">

        <!-- 신상품 -->
        <div class="xans-element- xans-product xans-product-listmain-2 xans-product-listmain xans-product-2 ec-base-product widget_new_product">
            <div class="common_title">
                <div class="main_title">
                    <h3>
                        <span style="display: ;">NEW ARRIVAL</span>
                        <span style="display: none;"><img src="" alt="NEW ARRIVAL"/></span>
                    </h3>
                    <span class="desc"></span>
                </div>
            </div>
            <!-- /.common_title -->
            <ul class="prdList grid3 hover_fade">
                <% newestProducts.forEach((product) => { %>
                    <li class="item xans-record-">
                        <div class="box">
                            <div class="thumbnail">
                                <a href="/san-pham/<%= product.slug %>" class="thumb_link">
                                    <img src="<%= product.image.cover %>"
                                         alt="<%= product.name %>" class="thumb prevent-opacity"/>
                                </a>
                                <div class="custom_layer_btn">
                                    <ul>
                                        <li class="cart shopping__icon add-to-cart-btn" title="Thêm vào giỏ hàng">
                                            <i class="fa fa-shopping-cart"></i>
                                        </li>
                                        <li class="wish_btn shopping__icon wish-btn" title="Yêu thích">
                                            <i class="fa fa-heart-o"></i>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.custom_layer_btn -->
                                <div class="like_button">
                                    <div class="likeButton">
                                        <button type="button" title="좋아요" class="rate">
                                            <i class="fa fa-star-o"></i>
                                            <strong><span>0</span></strong>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="description">
                                <strong class="name">
                                    <a href="/san-pham/<%= product.slug %>">
                                        <span class="product__name"><%= product.name %><br></span>
                                    </a>
                                </strong>
                                <ul class="xans-element- xans-product xans-product-listitem spec">
                                    <li class="xans-record-">
                                        <span class="product__price"><%= formatPrice(product.price.number) %> ₫</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>

    </div><!-- /.fixed_row -->


    <!--<div class="fluid_row">
        <div class="xans-element- xans-bannermanage2 xans-bannermanage2-display-5 xans-bannermanage2-display xans-bannermanage2-5 main_bottom_banner">
            <ul>
                <li class="xans-record-"><a
                            href="http://louren.co.kr/product/yudi-%EC%9C%A0%EB%94%94-%EB%9D%BC%ED%83%84-%EC%8A%A4%ED%88%B4%EC%82%AC%EC%9D%B4%EB%93%9C-%ED%85%8C%EC%9D%B4%EB%B8%94/83/category/66/display/1/"><img
                                class='banner_image' title='1' alt='1' rel='13-5'
                                src='//app-storage-003.cafe24.com/bannermanage2/lourenkr/2018/08/28/c65e95d36352076b234c7b0f75703a54.png'/>
                        <div class="hover_desc">
                            <div class="desc_contents"><p><img src="/public/client/images/icons/icon_plus_light_w.png"/>
                                </p></div>
                        </div>
                    </a></li>
                <li class="xans-record-"><a
                            href="http://louren.co.kr/product/debra-%EB%8D%B0%EB%B8%8C%EB%9D%BC-%EB%9D%BC%ED%83%84-%EC%9D%98%EC%9E%901%EC%9D%B8-%EC%86%8C%ED%8C%8C-%EC%B2%B4%EC%96%B4/99/category/24/display/1/"><img
                                class='banner_image' title='2' alt='2' rel='14-5'
                                src='//app-storage-003.cafe24.com/bannermanage2/lourenkr/2018/08/01/a0958250a31477ec8ee9a9c6881e593b.png'/>
                        <div class="hover_desc">
                            <div class="desc_contents"><p><img src="/public/client/images/icons/icon_plus_light_w.png"/>
                                </p></div>
                        </div>
                    </a></li>
            </ul>
        </div>
        &lt;!&ndash; /.main_slide_banner1 &ndash;&gt;
    </div>&lt;!&ndash; /.fluid_row &ndash;&gt;-->


    <!--<div class="fixed_row">
        <div class="xans-element- xans-product xans-product-listmain-3 xans-product-listmain xans-product-3 ec-base-product widget_add1_product">
            <div class="common_title">
                <div class="main_title">
                    <h3>
                        <span style="display: ;">MD'S CHOICE</span>
                        <span style="display: none;"><img src="" alt="MD'S CHOICE"/></span>
                    </h3>
                    <span class="desc"></span>
                </div>
            </div>
            &lt;!&ndash; /.common_title &ndash;&gt;
            <ul class="prdList grid3 hover_fade">
                <li id="anchorBoxId_69" class="item xans-record-">
                    <div class="box">
                                <span class="chk"><input type="checkbox"
                                                         class="ProductCompareClass xECPCNO_69 displaynone"/></span>
                        <div class="thumbnail">
                            <a href="/product/roni-twin310years-로니-라탄-유아의자2인용-매트리스-포함/69/category/1/display/4/"
                               name="anchorBoxName_69" class="thumb_link"><img
                                        src="//louren.co.kr/web/product/medium/201805/69_shop1_15266245227355.png"
                                        id="eListPrdImage69_4"
                                        alt="roni twin(3~10years) 로니 라탄 유아의자(2인용, 매트리스 포함) " class="thumb"/><img
                                        src="//louren.co.kr/web/product/tiny/201805/69_shop1_15266245227355.png"
                                        id="" alt="roni twin(3~10years) 로니 라탄 유아의자(2인용, 매트리스 포함) "
                                        class="fade_thumb"/></a>
                            <div class="custom_layer_btn">
                                <ul>
                                    <li class="option displaynone" title="상품옵션"></li>
                                    <li class="cart " title="장바구니담기"><img
                                                src="/public/client/images/icons/icon_201803131803462400.png"
                                                onClick="category_add_basket('69','1', '4', 'A0000', false, '1', 'P00000CQ', 'A', 'F', '0');"
                                                alt="장바구니 담기" class="ec-admin-icon cart"/></li>
                                    <li class="zoom " title="확대보기"><img
                                                src="/public/client/images/icons/icon_201803131803434800.png"
                                                onClick="zoom('69', '1', '4','', '');" style="cursor:pointer"
                                                alt="상품 큰 이미지 보기"/></li>
                                    <li class="wish_btn " title="관심상품"><img
                                                src="/public/client/images/icons/icon_201803131803539700.png"
                                                class="icon_img ec-product-listwishicon" alt="관심상품 등록 전"
                                                productno="69" categoryno="1" icon_status="off" login_status="T"
                                                individual-set="F"/></li>
                                </ul>
                            </div>
                            &lt;!&ndash; /.custom_layer_btn &ndash;&gt;

                            <div class="like_button">
                                <div class="likeButton likePrd likePrd_69">
                                    <button type="button" title="좋아요"><img
                                                src="/public/client/images/icons/icon_201803131803583600.png"
                                                class="likePrdIcon" product_no="69" category_no="1"
                                                icon_status="off" alt="좋아요 등록 전"/> <strong><span
                                                    class="likePrdCount likePrdCount_69">17</span></strong></button>
                                </div>
                            </div>
                            <span class="price dc_price" product_dc data-custom-price="" data-price="187000"
                                  data-price-sale="" style="display:none;"><em>%</em></span>&lt;!&ndash; 판매가 할인율 &ndash;&gt;
                        </div>
                        <div class="description">
                            <div class="displaynone">
                            </div>
                            <strong class="name"><a
                                        href="/product/roni-twin310years-로니-라탄-유아의자2인용-매트리스-포함/69/category/1/display/4/"
                                        class=""><span class="title displaynone"><span
                                                style="font-size:13px;color:#555555;">상품명</span> :</span> <span
                                            style="font-size:13px;color:#555555;">roni twin(3~10years)<br> 로니 라탄 유아의자(2인용, 매트리스 포함) </br></span></a></strong>
                            <ul class="xans-element- xans-product xans-product-listitem-3 xans-product-listitem xans-product-3 spec">
                                <li class=" xans-record-">
                                    <strong class="title displaynone"><span
                                                style="font-size:12px;color:#000000;font-weight:bold;">판매가</span>
                                        :</strong> <span
                                            style="font-size:12px;color:#000000;font-weight:bold;">187,000원</span><span
                                            id="span_product_tax_type_text" style=""> </span></li>
                            </ul>
                            <div class="promotion"></div>
                        </div>
                    </div>
                    &lt;!&ndash; /.box &ndash;&gt;
                </li>
            </ul>
        </div>
    </div>&lt;!&ndash;/.fixed_row &ndash;&gt;-->
    <div class="fluid_row widget_instagram">
        <div class="instagram_title">
            <h3><i class="fa fa-instagram" aria-hidden="true"></i> INSTAGRAM</h3>
        </div>
        <div style="background-color:;"
             class="xans-element- xans-instagramwidget xans-instagramwidget-display-1 xans-instagramwidget-display xans-instagramwidget-1 widget typeGrid">
            <h2><a target="_blank" class="widget-title"></a></h2>
            <strong class="idTag ">
                <a target="_blank" href="https://www.instagram.com/explore/tags/louren_daily"
                   class="widget-id-tag xans-record-">#louren_daily</a>
            </strong>
            <div class="thumb  fadeOut slide" style=""></div>
        </div>
    </div>
</div>
