<<<<<<< HEAD
<<<<<<< HEAD
<% layout('../../../layouts/client/blog') %>

<% block('title', 'Hello world') %>

<h2 class="single-article-title fl-wrap"><span>Category: Travel</span></h2>
<div class="clearfix"></div>
<div class="separator img-separator"><img src="http://demowp.cththemes.net/springbook/wp-content/themes/springbook/images/sep-blk.png" alt=""></div>
<div class="post-grid-wrap">
    <div class="post-grid-holder grid-sb-holder blog-grid-one-col row" style="position: relative; height: 1688px;">
        <div class="grid-sb-wrap col-12 col-sm-6">
            <article class="grid-sb">
                <div class="blog-media"> <img width="328" height="217" src="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2-328x217.jpg" class="respimg wp-post-image" alt="2" srcset="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2-328x217.jpg 328w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2-300x199.jpg 300w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2-768x509.jpg 768w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2.jpg 800w" sizes="(max-width: 328px) 100vw, 328px">
                    <div class="overlay"></div> <a href="http://demowp.cththemes.net/springbook/phasellus-egestas-interdum-pulvinar-aenean-tincidunt/" class="dec-link">Read Article</a></div>
                <ul class="cat-list">
                    <li>21 Jul 2016</li>
                    <li>
                        <ul class="post-categories">
                            <li><a href="http://demowp.cththemes.net/springbook/category/outdoor/" rel="category tag">Outdoor</a></li>
                            <li><a href="http://demowp.cththemes.net/springbook/category/photos/" rel="category tag">Photos</a></li>
                            <li><a href="http://demowp.cththemes.net/springbook/category/travel/" rel="category tag">Travel</a></li>
                        </ul>
                    </li>
                </ul>
                <h2><a href="http://demowp.cththemes.net/springbook/phasellus-egestas-interdum-pulvinar-aenean-tincidunt/">Phasellus egestas interdum pulvinar. <br> Aenean tincidunt.</a></h2>
                <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue…</p>
                <div class="clearfix"></div><a href="http://demowp.cththemes.net/springbook/phasellus-egestas-interdum-pulvinar-aenean-tincidunt/" class="post-link">Read More</a>
                <ul class="post-counter">
                    <li><span class=" click-to-like"><i class="fa fa-heart-o" aria-hidden="true"></i><span class="springbook-like-count">9</span></span>
                    </li>
                    <li><i class="fa fa-eye" aria-hidden="true"></i><span>646</span></li>
                    <li><a href="http://demowp.cththemes.net/springbook/phasellus-egestas-interdum-pulvinar-aenean-tincidunt/#comments"><i class="fa fa-comment-o" aria-hidden="true"></i><span>3</span></a></li>
                </ul>
            </article>
        </div>
        <div class="grid-sb-wrap col-12 col-sm-6">
            <article class="grid-sb">
                <div class="blog-media"> <img width="328" height="217" src="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/23-328x217.jpg" class="respimg wp-post-image" alt="23" srcset="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/23-328x217.jpg 328w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/23-300x199.jpg 300w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/23-768x509.jpg 768w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/23.jpg 800w" sizes="(max-width: 328px) 100vw, 328px">
                    <div class="overlay"></div> <a href="http://demowp.cththemes.net/springbook/amazing-trip-in-norway/" class="dec-link">Read Article</a></div>
                <ul class="cat-list">
                    <li>15 Jul 2016</li>
                    <li>
                        <ul class="post-categories">
                            <li><a href="http://demowp.cththemes.net/springbook/category/travel/" rel="category tag">Travel</a></li>
                            <li><a href="http://demowp.cththemes.net/springbook/category/trip/" rel="category tag">Trip</a></li>
                        </ul>
                    </li>
                </ul>
                <h2><a href="http://demowp.cththemes.net/springbook/amazing-trip-in-norway/">Amazing Trip in Norway</a></h2>
                <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue…</p>
                <div class="clearfix"></div><a href="http://demowp.cththemes.net/springbook/amazing-trip-in-norway/" class="post-link">Read More</a>
                <ul class="post-counter">
                    <li><span class=" click-to-like"><i class="fa fa-heart-o" aria-hidden="true"></i><span class="springbook-like-count">5</span></span>
                    </li>
                    <li><i class="fa fa-eye" aria-hidden="true"></i><span>603</span></li>
                    <li><a href="http://demowp.cththemes.net/springbook/amazing-trip-in-norway/#comments"><i class="fa fa-comment-o" aria-hidden="true"></i><span>3</span></a></li>
                </ul>
            </article>
        </div>
        <div class="grid-sb-wrap col-12 col-sm-6">
            <article class="grid-sb">
                <div class="blog-media"> <img width="328" height="217" src="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/12-328x217.jpg" class="respimg wp-post-image" alt="12" srcset="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/12-328x217.jpg 328w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/12-300x199.jpg 300w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/12-768x509.jpg 768w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/12.jpg 800w" sizes="(max-width: 328px) 100vw, 328px">
                    <div class="overlay"></div> <a href="http://demowp.cththemes.net/springbook/reading-in-london/" class="dec-link">Read Article</a></div>
                <ul class="cat-list">
                    <li>11 Jul 2016</li>
                    <li>
                        <ul class="post-categories">
                            <li><a href="http://demowp.cththemes.net/springbook/category/outdoor/" rel="category tag">Outdoor</a></li>
                            <li><a href="http://demowp.cththemes.net/springbook/category/travel/" rel="category tag">Travel</a></li>
                        </ul>
                    </li>
                </ul>
                <h2><a href="http://demowp.cththemes.net/springbook/reading-in-london/">Reading in London</a></h2>
                <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue…</p>
                <div class="clearfix"></div><a href="http://demowp.cththemes.net/springbook/reading-in-london/" class="post-link">Read More</a>
                <ul class="post-counter">
                    <li><span class=" click-to-like"><i class="fa fa-heart-o" aria-hidden="true"></i><span class="springbook-like-count">11</span></span>
                    </li>
                    <li><i class="fa fa-eye" aria-hidden="true"></i><span>151</span></li>
                    <li><a href="http://demowp.cththemes.net/springbook/reading-in-london/#respond"><i class="fa fa-comment-o" aria-hidden="true"></i><span>0</span></a></li>
                </ul>
            </article>
        </div>

        <div class="grid-sb-wrap col-12 col-sm-6">
            <article class="grid-sb">
                <div class="blog-media"> <img width="328" height="217" src="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2-328x217.jpg" class="respimg wp-post-image" alt="2" srcset="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2-328x217.jpg 328w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2-300x199.jpg 300w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2-768x509.jpg 768w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2.jpg 800w" sizes="(max-width: 328px) 100vw, 328px">
                    <div class="overlay"></div> <a href="http://demowp.cththemes.net/springbook/phasellus-egestas-interdum-pulvinar-aenean-tincidunt/" class="dec-link">Read Article</a></div>
                <ul class="cat-list">
                    <li>21 Jul 2016</li>
                    <li>
                        <ul class="post-categories">
                            <li><a href="http://demowp.cththemes.net/springbook/category/outdoor/" rel="category tag">Outdoor</a></li>
                            <li><a href="http://demowp.cththemes.net/springbook/category/photos/" rel="category tag">Photos</a></li>
                            <li><a href="http://demowp.cththemes.net/springbook/category/travel/" rel="category tag">Travel</a></li>
                        </ul>
                    </li>
                </ul>
                <h2><a href="http://demowp.cththemes.net/springbook/phasellus-egestas-interdum-pulvinar-aenean-tincidunt/">Phasellus egestas interdum pulvinar. <br> Aenean tincidunt.</a></h2>
                <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue…</p>
                <div class="clearfix"></div><a href="http://demowp.cththemes.net/springbook/phasellus-egestas-interdum-pulvinar-aenean-tincidunt/" class="post-link">Read More</a>
                <ul class="post-counter">
                    <li><span class=" click-to-like"><i class="fa fa-heart-o" aria-hidden="true"></i><span class="springbook-like-count">9</span></span>
                    </li>
                    <li><i class="fa fa-eye" aria-hidden="true"></i><span>646</span></li>
                    <li><a href="http://demowp.cththemes.net/springbook/phasellus-egestas-interdum-pulvinar-aenean-tincidunt/#comments"><i class="fa fa-comment-o" aria-hidden="true"></i><span>3</span></a></li>
                </ul>
            </article>
        </div>
        <div class="grid-sb-wrap col-12 col-sm-6">
            <article class="grid-sb">
                <div class="blog-media"> <img width="328" height="217" src="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/23-328x217.jpg" class="respimg wp-post-image" alt="23" srcset="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/23-328x217.jpg 328w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/23-300x199.jpg 300w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/23-768x509.jpg 768w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/23.jpg 800w" sizes="(max-width: 328px) 100vw, 328px">
                    <div class="overlay"></div> <a href="http://demowp.cththemes.net/springbook/amazing-trip-in-norway/" class="dec-link">Read Article</a></div>
                <ul class="cat-list">
                    <li>15 Jul 2016</li>
                    <li>
                        <ul class="post-categories">
                            <li><a href="http://demowp.cththemes.net/springbook/category/travel/" rel="category tag">Travel</a></li>
                            <li><a href="http://demowp.cththemes.net/springbook/category/trip/" rel="category tag">Trip</a></li>
                        </ul>
                    </li>
                </ul>
                <h2><a href="http://demowp.cththemes.net/springbook/amazing-trip-in-norway/">Amazing Trip in Norway</a></h2>
                <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue…</p>
                <div class="clearfix"></div><a href="http://demowp.cththemes.net/springbook/amazing-trip-in-norway/" class="post-link">Read More</a>
                <ul class="post-counter">
                    <li><span class=" click-to-like"><i class="fa fa-heart-o" aria-hidden="true"></i><span class="springbook-like-count">5</span></span>
                    </li>
                    <li><i class="fa fa-eye" aria-hidden="true"></i><span>603</span></li>
                    <li><a href="http://demowp.cththemes.net/springbook/amazing-trip-in-norway/#comments"><i class="fa fa-comment-o" aria-hidden="true"></i><span>3</span></a></li>
                </ul>
            </article>
        </div>
        <div class="grid-sb-wrap col-12 col-sm-6">
            <article class="grid-sb">
                <div class="blog-media"> <img width="328" height="217" src="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/12-328x217.jpg" class="respimg wp-post-image" alt="12" srcset="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/12-328x217.jpg 328w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/12-300x199.jpg 300w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/12-768x509.jpg 768w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/12.jpg 800w" sizes="(max-width: 328px) 100vw, 328px">
                    <div class="overlay"></div> <a href="http://demowp.cththemes.net/springbook/reading-in-london/" class="dec-link">Read Article</a></div>
                <ul class="cat-list">
                    <li>11 Jul 2016</li>
                    <li>
                        <ul class="post-categories">
                            <li><a href="http://demowp.cththemes.net/springbook/category/outdoor/" rel="category tag">Outdoor</a></li>
                            <li><a href="http://demowp.cththemes.net/springbook/category/travel/" rel="category tag">Travel</a></li>
                        </ul>
                    </li>
                </ul>
                <h2><a href="http://demowp.cththemes.net/springbook/reading-in-london/">Reading in London</a></h2>
                <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue…</p>
                <div class="clearfix"></div><a href="http://demowp.cththemes.net/springbook/reading-in-london/" class="post-link">Read More</a>
                <ul class="post-counter">
                    <li><span class=" click-to-like"><i class="fa fa-heart-o" aria-hidden="true"></i><span class="springbook-like-count">11</span></span>
                    </li>
                    <li><i class="fa fa-eye" aria-hidden="true"></i><span>151</span></li>
                    <li><a href="http://demowp.cththemes.net/springbook/reading-in-london/#respond"><i class="fa fa-comment-o" aria-hidden="true"></i><span>0</span></a></li>
                </ul>
            </article>
        </div>
        <div class="grid-sb-wrap col-12 col-sm-6">
            <article class="grid-sb">
                <div class="blog-media"> <img width="328" height="217" src="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/18-328x217.jpg" class="respimg wp-post-image" alt="18" srcset="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/18-328x217.jpg 328w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/18-300x199.jpg 300w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/18-768x509.jpg 768w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/18.jpg 800w" sizes="(max-width: 328px) 100vw, 328px">
                    <div class="overlay"></div> <a href="http://demowp.cththemes.net/springbook/canada-road-trip/" class="dec-link">Read Article</a></div>
                <ul class="cat-list">
                    <li>03 Jul 2016</li>
                    <li>
                        <ul class="post-categories">
                            <li><a href="http://demowp.cththemes.net/springbook/category/travel/" rel="category tag">Travel</a></li>
                            <li><a href="http://demowp.cththemes.net/springbook/category/trip/" rel="category tag">Trip</a></li>
                        </ul>
                    </li>
                </ul>
                <h2><a href="http://demowp.cththemes.net/springbook/canada-road-trip/">Canada Road Trip</a></h2>
                <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue…</p>
                <div class="clearfix"></div><a href="http://demowp.cththemes.net/springbook/canada-road-trip/" class="post-link">Read More</a>
                <ul class="post-counter">
                    <li><span class=" click-to-like"><i class="fa fa-heart-o" aria-hidden="true"></i><span class="springbook-like-count">12</span></span>
                    </li>
                    <li><i class="fa fa-eye" aria-hidden="true"></i><span>101</span></li>
                    <li><a href="http://demowp.cththemes.net/springbook/canada-road-trip/#respond"><i class="fa fa-comment-o" aria-hidden="true"></i><span>0</span></a></li>
                </ul>
            </article>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="vertical-separator"></div>
    <div class="page_nav main-page-nav pagi_style1"><span class="blog-page current-page">1</span> <a class="blog-page" href="http://demowp.cththemes.net/springbook/category/travel/page/2/">2</a> <a class="nextposts-link arrow-nav rig-ar-nav blog-page" href="http://demowp.cththemes.net/springbook/category/travel/page/2/"><i class="fa fa-caret-right"></i></a></div>
=======
=======
>>>>>>> 88cf17741afe8f141e7ffd8e687d983fe7fc7dea
<% layout('../../../layouts/client/app') %>

<% stylesheet('/public/client/css/styleList.css') %>

<% block('title', 'Trang chủ') %>

<div id="contents">
    <div class="xans-element- xans-product xans-product-menupackage ">
        <div class="xans-element- xans-product xans-product-headcategory path"><span>현재 위치</span>
            <ol>
                <li><a href="/">홈</a></li>
                <li class=""><a href="/category/chair/24/">chair</a></li>
            </ol>
        </div>
        <div class="xans-element- xans-product xans-product-headcategory title">
            <h2>Danh sách sản phẩm</h2>
        </div>
        <div class="xans-element- xans-product xans-product-headcategory title "><p class="banner"></p>
        </div>
    </div>

    <div class="xans-element- xans-product xans-product-normalpackage ">
        <div class="xans-element- xans-product xans-product-normalmenu ">
            <div class="title hide" id="Product_ListMenu">
                <h3><span>HIT PRODUCT</span></h3>
            </div>
            <div class="function">
                <p class="prdCount">Có <strong><%= products.total %></strong> sản phẩm được tìm thấy.</p>
                <ul id="type" class="xans-element- xans-product xans-product-orderby">
                    <li class="xans-record-">
                        <a href="?sort=productName" class="<%= query.sort === 'productName' ? 'sort' : '' %>">Tên sản phẩm</a>
                    </li>
                    <li class="xans-record-">
                        <a href="?sort=priceLowToHigh" class="<%= query.sort === 'priceLowToHigh' ? 'sort' : '' %>">Giá thấp - cao</a>
                    </li>
                    <li class="xans-record-">
                        <a href="?sort=priceHighToLow" class="<%= query.sort === 'priceHighToLow' ? 'sort' : '' %>">Giá cao - thấp</a>
                    </li>
                    <li class="xans-record-">
                        <a href="?sort=newest" class="<%= !['productName', 'priceLowToHigh' , 'priceHighToLow'].includes(query.sort) ? 'sort' : '' %>">Mới nhất</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="xans-element- xans-search xans-search-form">
            <div class="noData <%= products.total !== 0 ? 'displaynone' : '' %>">
                <strong class="warning">Không có sản phẩm nào được tìm thấy. </strong>
                <strong>Hãy kiểm tra giá trị tìm kiếm của bạn và thử lại.</strong>
                <ul>
                    <li>Nếu bạn tìm kiếm hơn một từ, hãy kiểm tra lại khoảng trống.</li>
                </ul>
            </div>
        </div>

        <div class="xans-element- xans-product xans-product-listnormal ec-base-product">
            <ul class="prdList hover_zoom grid5">
                <% products.docs.forEach((product) => { %>
                    <li class="item xans-record-">
                        <div class="box">
                            <div class="thumbnail">
                                <a href="/san-pham/<%= product.slug %>" class="thumb_link">
                                    <img src="<%= product.image.cover %>"
                                         alt="<%= product.name %>" class="thumb"/>
                                </a>
                                <div class="custom_layer_btn">
                                    <ul>
<<<<<<< HEAD
                                        <li class="cart shopping__icon add-to-cart" title="Thêm vào giỏ hàng">
                                            <i class="fa fa-shopping-cart"></i>
                                        </li>
                                        <li class="wish_btn shopping__icon" title="Yêu thích">
=======
                                        <li class="cart shopping__icon add-to-cart-btn" title="Thêm vào giỏ hàng">
                                            <i class="fa fa-shopping-cart"></i>
                                        </li>
                                        <li class="wish_btn shopping__icon wish-btn" title="Yêu thích">
>>>>>>> 88cf17741afe8f141e7ffd8e687d983fe7fc7dea
                                            <i class="fa fa-heart-o"></i>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.custom_layer_btn -->
                                <div class="like_button">
                                    <div class="likeButton">
                                        <button type="button" title="좋아요" class="rate">
                                            <i class="fa fa-star-o"></i>
                                            <strong><span>0</span></strong>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="description">
                                <strong class="name">
                                    <a href="/san-pham/<%= product.slug %>">
                                        <span class="product__name"><%= product.name %><br></span>
                                    </a>
                                </strong>
                                <ul class="xans-element- xans-product xans-product-listitem spec">
                                    <li class="xans-record-">
                                        <span class="product__price"><%= formatPrice(product.price.number) %> ₫</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>

    <% if (!products.total) { %>
        <div class="xans-element- xans-product xans-product-normalpaging ec-base-paginate">
            <%- products.renderPagination(products, query.page) %>
        </div>
    <% } %>
<<<<<<< HEAD
>>>>>>> ef3fc52638f3caeb69646b4c09b05a3f393e97c9
=======
>>>>>>> 88cf17741afe8f141e7ffd8e687d983fe7fc7dea
</div>
