<% layout('../../../layouts/client/app') %>

<% block('metaTags', `
    <meta name="description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta name="keywords" content="Đồ nội thất mây, đồ nội thất mây, ghế mây, đồ nội thất thủ công"/>

    <meta property="og:url" content="${originalUrl}" id="fbUrl" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="${titleRedis(info)} | Tìm kiếm sản phẩm" />
    <meta property="og:description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta property="og:image" content="https://mayhienhome.com/public/client/images/logo/fullLogo.png" />
`) %>

<% stylesheet('/public/client/css/styleSearch.css') %>

<% block('title', 'Trang chủ') %>

<% productTypes.forEach((type) => {
    type.childs = productTypes.filter(childType => {
        return childType.parentType ? childType.parentType.toString() === type._id.toString() : false;
    });
    return type;
}); %>
<% productTypes = productTypes.filter((type) => !type.parentType) %>

<div id="contents">
    <div class="titleArea firstTitleArea">
        <h2>Tìm kiếm sản phẩm</h2>
    </div>

    <form name="" method="get">
        <div class="xans-element- xans-search xans-search-form ">
            <div class="ec-base-box searchbox">
                <fieldset>
                    <legend>
                        <font style="vertical-align: inherit;">Thể loại</font>
                    </legend>
                    <div class="item row d-flex">
                        <strong class="col-12 col-md-3 mb-md-0 mb-2">Thể loại</strong>
                        <select name="productType" style="width: 100%" class="col-12 col-md-9" id="category_no">
                            <option value="0" selected="selected">Tìm kiếm theo thể loại</option>
                            <% productTypes.forEach((type) => { %>
                                <option value="<%= type._id %>" <%= query.productType === type._id.toString() ? 'selected' : '' %>>
                                    <%= type.getName(language) %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="item row d-flex">
                        <strong class="col-12 col-md-3 mb-md-0 mb-2">Yêu cầu search</strong>
                        <div class="col-12 col-md-9 p-0 m-0 row d-flex">
                            <select id="search_type" class="col-12 col-md-4 mb-md-0 mb-2" name="type">
                                <option value="productName">Tên sản phẩm</option>
                            </select>
                            <input id="keyword" name="search" class="inputTypeText col-12 col-md-8" value="<%= query.search || '' %>" type="text">
                        </div>
                    </div>
                    <div class="item row d-flex">
                        <strong class="col-12 col-md-3 mb-md-0 mb-2">Price range</strong>
                        <div class="col-12 col-md-9 row d-flex flex-column flex-md-row p-0 m-0 justify-content-between">
                            <input id="product_price1" name="startPrice" class="input01 col-12 col-md-5" value="<%= query.startPrice || '' %>" type="text">
                                ~
                            <input id="product_price2" name="endPrice" class="input01 col-12 col-md-5" value="<%= query.endPrice || '' %>" type="text">
                        </div>
                    </div>
                    <div class="item row d-flex">
                        <strong class="col-12 col-md-3 mb-md-0 mb-2">Sắp xếp</strong>
                        <select class="col-12 col-md-9" id="order_by" name="sort">
                            <option value="" selected="selected">::: Sắp xếp sản phẩm :::</option>
                            <option value="productName" <%= query.sort === 'productName' ? 'selected' : '' %>>
                                <%= __('product.sort.name') %>
                            </option>
                            <option value="priceLowToHigh" <%= query.sort === 'priceLowToHigh' ? 'selected' : '' %>>
                                <%= __('product.sort.priceLowToHigh') %>
                            </option>
                            <option value="priceHighToLow" <%= query.sort === 'priceHighToLow' ? 'selected' : '' %>>
                                <%= __('product.sort.priceHighToLow') %>
                            </option>
                            <option value="newest" <%= !['productName', 'priceLowToHigh' , 'priceHighToLow'].includes(query.sort) ? 'sort' : '' %>>
                                <%= __('product.sort.newest') %>
                            </option>
                        </select></div>
                    <p class="button">
                        <input type="submit" value="Tìm kiếm" alt="Search"
                               class="custom_btn custom_btn_large custom_btn_submit custom_btn_search btn_transition">
                    </p>
                </fieldset>
                <!--<div class="xans-element- xans-search xans-search-hotkeyword popular"><strong>Popular searches</strong>-->
                <!--<p><a href="#" class="xans-record-">rattan</a>-->
                <!--</div>-->
            </div>
            <div class="searchResult">
                <p class="record"><strong><%= products.total %></strong> <%= __('product.count', products.total) %></p>
            </div>
            <div class="noData <%= products.total !== 0 ? 'displaynone' : '' %>">
                <strong class="warning"><%= __('product.no-products') %></strong>
                <strong>Hãy kiểm tra giá trị tìm kiếm của bạn và thử lại.</strong>
                <ul>
                    <li>Nếu bạn tìm kiếm hơn một từ, hãy kiểm tra lại khoảng trống.</li>
                </ul>
            </div>
        </div>
    </form>

    <div class="xans-element- xans-search xans-search-result ec-base-product">
        <ul class="prdList hover_zoom grid5 row d-flex m-0">
            <% products.docs.forEach((product) => { %>
                <li class="item xans-record- col-6 col-md-4 mx-0">
                    <div class="box">
                        <div class="thumbnail">
                            <a href="/san-pham/<%= product.slug %>" class="thumb_link">
                                <img src="<%= product.image.cover %>" alt="<%= product.name %>" class="thumb"/>
                            </a>
                            <div class="custom_layer_btn">
                                <ul>
                                    <% if (!product.price.isAgreement) { %>
                                        <li data-id="<%= product._id %>" class="cart shopping__icon add-to-cart-btn" title="<%= __('product.cart.add') %>">
                                            <i class="fa fa-shopping-cart"></i>
                                        </li>
                                    <% } else { %>
                                        <li class="cart shopping__icon telephone__text">
                                            <%= __('contact') %>
                                        </li>
                                    <% } %>
                                    <!-- <li class="wish_btn shopping__icon wish-btn" title="Yêu thích">
                                        <i class="fa fa-heart-o"></i>
                                    </li> -->
                                </ul>
                            </div>
                            <% if (!product.price.isAgreement && product.discount > 0) { %>
                                <span class="price dc_price checked"><%= product.discount * 100 %><em>%</em></span>
                            <% } %>
                            <!-- /.custom_layer_btn -->
                            <!-- <div class="like_button">
                                <div class="likeButton">
                                    <button type="button" title="좋아요" class="rate">
                                        <i class="fa fa-star-o"></i>
                                        <strong><span>0</span></strong>
                                    </button>
                                </div>
                            </div> -->
                        </div>
                        <div class="description">
                            <strong class="name">
                                <a href="/san-pham/<%= product.slug %>">
                                    <span class="product__name">
                                        <%= product.name %>
                                        <br></span>
                                </a>
                            </strong>
                            <ul class="xans-element- xans-product xans-product-listitem spec">
                                <li class="xans-record-">
                                    <% if (product.price.isAgreement) { %>
                                        <%= __('contact') %>: <%= info.phone %>
                                    <% } else { %>
                                        <span class="priceDisplay"></span>
                                        <input class="priceValue"
                                               value="<%= product.price.number %>"
                                               type="hidden"/>
                                        <span class="price dc_price priceDiscountText">
                                            <i class="fa fa-long-arrow-down"
                                               aria-hidden="true"></i>
                                            <span class="priceDiscountPercent"></span>
                                        </span>
                                        <input class="priceDiscount"
                                               value="<%= product.discount %>"
                                               type="hidden"/>
                                    <% } %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>

    <div class="xans-element- xans-product xans-product-normalpaging ec-base-paginate <%= products.total === 0 ? 'displaynone' : '' %>">
        <%- products.renderPagination(products, query.page) %>
    </div>
</div>
