<% layout('/layouts/admin/app') %>

<% block('title', `Người dùng - ${user.name}`) %>

<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.css') %>

<% script('https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js') %>
<% script('/public/admin/js/cropper.js') %>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Profile</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User Profile</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <div class="user-profile__avatar">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="/public/admin/img/user2-160x160.jpg" alt="User profile picture"/>
                                <div class="user-profile__avatar-change-btn__overlay">
                                    <input type="file" class="hide">
                                    <button class="user-profile__avatar-change-btn"><i class="fa fa-cloud-upload"></i></button>
                                </div>
                            </div>
                        </div>
                        <h3 class="profile-username text-center"><%= user.name %></h3>
                        <p class="text-muted text-center">Software Engineer</p>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item"><b>Followers</b><a class="float-right">1,322</a></li>
                            <li class="list-group-item"><b>Following</b><a class="float-right">543</a></li>
                            <li class="list-group-item"><b>Friends</b><a class="float-right">13,287</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="settings">
                                <form class="form-horizontal user__form"
                                      action="/admin/users/<%= user._id %>" method="post" data-key="<%= user._id %>">
                                    <input type="hidden" name="_method" value="PUT"/>
                                    <div class="form-group">
                                        <label class="control-label">Tên</label>
                                        <input class="form-control" type="text"
                                               value="<%= old('name', user.name) %>" name="name"/>
                                        <p class="form__error-message"><%= errors('name') %></p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input class="form-control" type="email"
                                               value="<%= old('email', user.email) %>" disabled="disabled"/>
                                        <p class="form__error-message"><%= errors('email') %></p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Số điện thoại</label>
                                        <input class="form-control" type="text"
                                               name="telephone" value="<%= old('telephone', user.telephone) %>"/>
                                        <p class="form__error-message"><%= errors('telephone') %></p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Ngày sinh</label>
                                        <input class="form-control" type="text" placeholder="DD/MM/YYYY"
                                               name="birthday" value="<%= old('birthday', moment(user.birthday).format('DD/MM/YYYY')) %>"/>
                                        <p class="form__error-message"><%= errors('birthday') %></p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Giới tính</label>
                                        <div>
                                            <label for="male">Nam</label>
                                            <input type="radio" id="male" name="gender" value="1"
                                                    <%= old('gender', user.gender) == 1 ? 'checked' : '' %> style="margin: 0 15px 0 5px"/>
                                            <label for="female">Nữ</label>
                                            <input type="radio" id="female" name="gender" value="2"
                                                    <%= old('gender', user.gender) == 2 ? 'checked' : '' %> style="margin: 0 15px 0 5px"/>
                                            <label for="other">Khác</label>
                                            <input type="radio" id="other" name="gender" value="3"
                                                    <%= old('gender', user.gender) == 3 ? 'checked' : '' %> style="margin: 0 15px 0 5px"/>
                                        </div>
                                        <p class="form__error-message"><%= errors('gender') %></p>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-success" type="submit">Thay đổi</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cropImageModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal" id="cropImageModal" tabindex="-1" role="dialog" aria-labelledby="cropImageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="https://testing-store.s3.ap-northeast-1.amazonaws.com/avatars/original/2018090316411866.jpg"
                     class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger float-left" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary float-right user__crop-image__finish-btn">Hoàn tất</button>
            </div>
        </div>
    </div>
</div>
