<% layout('../../../layouts/client/blog') %>

<% block('title', `Blog - Thể loại ${blogCategory.name}`) %>

<h2 class="single-article-title fl-wrap"><span>Thể loại: <%= blogCategory.name %></span></h2>
<div class="clearfix"></div>
<div class="separator img-separator"><img src="http://demowp.cththemes.net/springbook/wp-content/themes/springbook/images/sep-blk.png" alt=""></div>
<div class="post-grid-wrap">
    <div class="post-grid-holder grid-sb-holder blog-grid-one-col row" style="position: relative; height: 1688px;">
        <% if(blogArticles.length === 0 ) { %>
            <p>Không có bài viết nào</p>
        <% } else { %>
            <% blogArticles.docs.forEach((article) => { %>
            <div class="grid-sb-wrap col-12 col-sm-6">
                <article class="grid-sb">
                    <div class="blog-media"> <img width="328" height="217" src="<%= article.display.image %>" class="respimg wp-post-image" alt="23" sizes="(max-width: 328px) 100vw, 328px">
                        <div class="overlay"></div> <a href="/blog/<%= article.slug %>" class="dec-link">Xem bài viết</a></div>
                    <ul class="cat-list">
                        <li><%= moment(article.updatedAt).format('L') %></li>
                        <li>
                            <ul class="post-categories">

                                    <li><a href="/blog/chuyen-muc-<%= article.category.slug %>" rel="category tag"><%= article.category.name %></a></li>


                            </ul>
                        </li>
                    </ul>
                    <h2><a href="/blog/<%= article.slug %>"><%= article.title %></a></h2>
                    <p><%= article.description %></p>
                    <div class="clearfix"></div><a href="/blog/<%= article.slug %>" class="post-link">Xem thêm</a>
                </article>
            </div>
            <% }) %>
        <% } %>
    </div>
    <div class="clearfix"></div>
    <div class="vertical-separator"></div>
</div>

<% if(blogArticles.total !== 0 ) { %>
    <div class="card-footer clearfix">
        <div class="pagination-list">
            <%- blogArticles.renderPagination(blogArticles, query.page) %>
        </div>
    </div>
<% } %>

