<% layout('../../../../layouts/client/app') %>

<% block('metaTags', `
    <meta name="description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta name="keywords" content="Đồ nội thất mây, đồ nội thất mây, ghế mây, đồ nội thất thủ công"/>

    <meta property="og:url" content="${originalUrl}" id="fbUrl" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="${titleRedis(info)} | Đăng nhập" />
    <meta property="og:description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta property="og:image" content="https://mayhienhome.com/public/client/images/logo/fullLogo.png" />
`) %>

<% stylesheet('/public/client/css/registerAddress.css') %>

<% block('title', __('user.auth.login.title')) %>

<div id="contents">
    <form action="" method="post">
        <div class="xans-element- xans-member xans-member-login ">
            <div class="login">
                <h3 class="text-upper"><%= __('user.auth.login.title') %></h3>
                <fieldset>
                    <label class="id ePlaceholder" title="<%= __('user.info.email') %>">
                        <input id="email" name="email" value="<%= old('email') %>" type="text" class="form-control"/>
                    </label>
                    <p class="login-form__error-msg"><%= __(errors('email') || ' ', __('user.info.email')) %></p>
                    <label class="password ePlaceholder" title="<%= __('user.info.password.title') %>">
                        <input name="password" type="password"/>
                    </label>
                    <p class="login-form__error-msg"><%= __(errors('password') || ' ', __('user.info.password.title')) %></p>
                    <div class="ec-base-button">
                        <button class="custom_btn custom_btn_login custom_btn_submit">
                            <i class="fa fa-lock" aria-hidden="true"></i>  <%= __('user.auth.login.title') %>
                        </button>
                    </div>
                    <ul class="snsArea displaynone">
                        <li>
                            <a href="#none" class="custom_btn custom_btn_sns_login sns_login_facebook"><img
                                src="/public/client/images/icons/sns_login_facebook.png"/> Đăng nhập bằng Facebook</a>
                        </li>
                        <li>
                            <a href="#none" class="custom_btn custom_btn_sns_login sns_login_google"><img
                                src="/public/client/images/icons/sns_login_google.png"/> Đăng nhập bằng Google</a>
                        </li>
                    </ul>
                    <ul class="find_info text-center">
                        <li><a href="/quen-mat-khau"><%= __('user.auth.password.forgot') %></a></li>
                    </ul>
                </fieldset>
            </div>
        </div>
    </form>
</div>
