<% layout('/layouts/client/app') %>

<% block('title', `${propertyStatus.name}`) %>

<div class="sub-banner overview-bgi">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1><%= propertyStatus.name %></h1>
                <ul class="breadcrumbs">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><%= propertyStatus.name  %></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Properties section body start -->
<div class="properties-section-body content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-12">
                <!-- Option bar start -->
                <div class="option-bar">
                    <div class="row">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-2">
                            <h4>
                                <span class="heading-icon">
                                    <i class="fa fa-th-list"></i>
                                </span>
                                <span class="hidden-xs"><%= propertyStatus.name %></span>
                            </h4>
                        </div>
                        <div class="col-lg-6 col-md-7 col-sm-7 col-xs-10 cod-pad">
                            <div class="sorting-options">
                                <span class="sorting__title">Sắp xếp</span>
                                <select class="sorting" name="sorting" value="<%= query.sort %>">
                                    <option value="1">Mới đến cũ</option>
                                    <option value="2">Cũ đến mới</option>
                                    <option value="3">Giá (Cao đến thấp)</option>
                                    <option value="4">Giá (Thấp đến cao)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Option bar end -->

                <div class="clearfix"></div>
                <!-- Property start -->
                <% if (!propertyArticles.docs.length) { %>
                    <p>Hiện tại không có bài viết nào</p>
                <% } %>
                <% propertyArticles.docs.forEach((article) => { %>
                <div class="property clearfix wow fadeInUp delay-03s">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-pad">
                        <div class="property-img">
                            <!--<div class="property-tag button alt featured">Featured</div>-->
                            <div class="property-tag button sale"><%= article.status.name %></div>
                            <div class="property-price"><%= article.showPrice() %></div>
                            <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src="<%= article.display.image %>"
                                 class="img-responsive hp-1 lazyload">
                            <div class="property-overlay">
                                <a href="/<%= article.slug %>" class="overlay-link">
                                    <i class="fa fa-link"></i>
                                </a>
                                <div class="property-magnify-gallery">
                                    <% article.display.images.forEach((image, index) => { %>
                                    <a href="<%= image %>" class="<%= index === 0 ? 'overlay-link' : 'hidden' %>">
                                        <% if (index === 0) { %>
                                        <i class="fa fa-expand"></i>
                                        <% } %>
                                    </a>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 property-content ">
                        <h1 class="title">
                            <a href="/<%= article.slug %>"><%= article.title %></a>
                        </h1>
                        <h3 class="property-address">
                            <a href="/<%= article.slug %>">
                                <i class="fa fa-map-marker"></i><%= article.address %>
                            </a>
                        </h3>
                        <ul class="facilities-list clearfix">
                            <% article.conditions.forEach((element) => { %>
                            <% if (element.condition && element.quantity) { %>
                            <li>
                                <i class="<%= element.condition.icon %>"></i>
                                <span><%= element.quantity %> <%= element.condition.name %></span>
                            </li>
                            <% } %>
                            <% }) %>
                        </ul>
                        <div class="property-footer">
                                <span class="left">
                                    <a><i class="fa fa-user"></i><%= article.author.name %></a>
                                </span>
                            <span class="right">
                                    <i class="fa fa-calendar"></i><%= moment(article.createdAt).fromNow() %>
                                </span>
                        </div>
                    </div>
                </div>
                <% }) %>
                <!-- Property end -->

                <!-- Page navigation start -->
                <nav aria-label="Page navigation">
                    <%- propertyArticles.renderPagination(propertyArticles, query.page) %>
                </nav>
                <!-- Page navigation end-->
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12">
                <!-- Search contents sidebar start -->
                <% include ../../../layouts/client/partials/search.ejs %>

                <% include ../../../layouts/client/partials/sidebar.ejs %>

                <!-- Helping box Start -->
                <div class="sidebar-widget helping-box clearfix">
                    <div class="main-title-2">
                        <h1><span>Helping</span> Center</h1>
                    </div>
                    <div class="helping-center">
                        <div class="icon"><i class="fa fa-map-marker"></i></div>
                        <h4>Address</h4>
                        <p>123 Kathal St. Tampa City,</p>
                    </div>
                    <div class="helping-center">
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <h4>Phone</h4>
                        <p><a href="tel:+55-417-634-7071">+55 417 634 7071</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Properties section body end -->
