<% layout('../../../layouts/client/app') %>

<% stylesheet('/public/client/css/styleCart.css') %>

<% block('title', 'Trang chủ') %>

<div id="contents">

    <div class="titleArea">
        <h2>Giỏ hàng</h2>
    </div>

    <div class="xans-element- xans-order xans-order-basketpackage "><p class="orderStep"><img
                    src="//img.echosting.cafe24.com/skin/base_ko_KR/order/img_order_step1.gif" alt="01 장바구니"/></p>
        <div class="orderListArea ec-base-table typeList gBorder">
            <div class="xans-element- xans-order xans-order-normtitle title ">
                <h3>Tất cả sản phẩm</h3>
            </div>

            <table border="1" summary="" class="xans-element- xans-order xans-order-normindividual xans-record-">
                <colgroup>
                    <col style="width:92px"/>
                    <col style="width:auto"/>
                    <col style="width:98px"/>
                    <col style="width:75px"/>
                    <col style="width:98px"/>
                </colgroup>

                <thead>
                    <tr>
                        <th scope="col">Hình ảnh</th>
                        <th scope="col">Thông tin sản phẩm</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số lượng</th>
                    </tr>
                </thead>
                <tfoot class="right">
                    <tr>
                        <td colspan="10">
                            <span>Tổng hóa đơn:</span><strong class="txtEm gIndent10">
                                <span class="txt18" id="cartTotalPrice" data-price="<%= totalPrice %>"><%= formatPrice(totalPrice) %></span> đ
                            </strong>
                            <span lass="displaynone"></span>
                        </td>
                    </tr>
                </tfoot>
                <tbody class="xans-element- xans-order xans-order-list center">
                    <% cart.products.forEach((product) => { %>
                        <tr class="xans-record-">
                            <td class="thumb gClearLine">
                                <a href="/san-pham/<%= product.item.slug %>">
                                    <img src="<%= product.item.image.cover %>" alt="<%= product.item.name %>" />
                                </a>
                            </td>
                            <td class="left gClearLine">
                                <strong class="name">
                                    <a href="/san-pham/<%= product.item.slug %>" class="ec-product-name">
                                        <%= product.item.name %>
                                    </a>
                                </strong>
                            </td>
                            <td class="right">
                                <div class="">
                                    <strong><%= formatPrice(product.item.price.number) %> đ</strong>
                                    <p class="displaynone"></p>
                                </div>
                            </td>
                            <td>
                                <span class="">
                                    <span class="ec-base-qty">
                                        <input class="cartProductQuantity" data-id="<%= product.item._id %>"
                                               size="2" value="<%= product.quantity %>" type="text"
                                        />

                                        <button class="cartBtnUp">
                                            <img src="//img.echosting.cafe24.com/skin/base/common/btn_quantity_up.gif"
                                                 alt="Up" class="up"/>
                                        </button>

                                        <button class="cartBtnDown">
                                            <img src="//img.echosting.cafe24.com/skin/base/common/btn_quantity_down.gif"
                                                 alt="Down" class="down"/>
                                        </button>
                                    </span>
                                </span>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

        <div class="xans-element- xans-order xans-order-totalorder ec-base-button justify">
            <span class="gRight">
                <form <%= cart._id ? `action=/gio-hang/${cart._id}/xac-nhan method=POST` : 'action=/gio-hang/xac-nhan method=GET'%>>
                    <button class="btn btn-primary" id="cartBtnSubmit"
                            style="padding: 10px 15px; background: #444; color: #fff; font-size: 16px;">Xác nhận</button>
                </form>
            </span>
        </div>
    </div>

    <div class="xans-element- xans-order xans-order-basketguide ec-base-help ">
        <h3>Hướng dẫn sử dụng</h3>
        <div class="inner">
            <h4>Giỏ hàng</h4>
            <ol>
                <li class="item1">Bấm nút xác nhận mua sản phẩm</li>
                <li class="item2">Điền đầy đủ thông tin liên hệ</li>
                <li class="item3">Chuyển khoản ngân hàng và gọi thông báo cho chúng tôi.</li>
            </ol>
        </div>
    </div>
</div>
