<!DOCTYPE html>
<html lang="<%= language %>">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="format-detection" content="telephone=no"/>
    <link href="//fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <style type="text/css">
        .init {
            visibility: hidden;
        }
        .red-note {
            color: red;
            font-weight: bold;
        }
        .bankAccount--display {
            color: black;
            margin-left: 15px;
            font-weight: bold;
            display: none;
        }
    </style>
    <script type="text/javascript" src="/public/client/js/custom_init.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/client/css/common.css"/>
    <title><%= titleRedis(info) %> | <%= __('product.cart.user-information-title') %></title>
    <meta name="author" content="<%= titleRedis(info) %>"/>
    <meta name="description" content="Nội Thất Mây Hiên home. We create a product, not just it but all."/>
    <meta name="keywords" content="Đồ nội thất mây, đồ nội thất mây, ghế mây, đồ nội thất thủ công"/>

    <meta property="og:url" content="<%= originalUrl %> | Thanh toán đơn hàng" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="Mây Hiên Home" />
    <meta property="og:description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta property="og:image" content="https://mayhienhome.com/public/client/images/logo/fullLogo.png"/>
</head>
<body>

<div class="xans-element- xans-estimate xans-estimate-userform ec-base-layer" style="width: 99.9%;">
    <div class="header">
        <h1><%= __('product.cart.user-information-title') %></h1>
    </div>
    <div class="content">
        <h2><%= __('product.cart.user-information-title') %></h2>
        <div class="ec-base-table">
            <form action="" method="POST">
                <table border="1">
                    <colgroup>
                        <col style="width:180px">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                    <% cUser = cUser || {} %>
                    <tr>
                        <th scope="row"><%= __('user.info.name') %> <span class="red-note">&#8277;</span></th>
                        <td>
                            <input name="name" value="<%= old('name', cUser.name) %>" type="text">
                            <p class="red-note"><%= __(errors('name') || ' ', __('user.info.name')) %></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><%= __('user.info.email') %> <span class="red-note">&#8277;</span></th>
                        <td>
                            <input name="email" value="<%= old('email', cUser.email) %>" type="text">
                            <p class="red-note"><%= __(errors('email') || ' ', __('user.info.email')) %></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><%= __('user.info.telephone') %> <span class="red-note">&#8277;</span></th>
                        <td>
                            <input name="telephone" value="<%= old('telephone', cUser.telephone) %>" type="text">
                            <p class="red-note"><%= __(errors('telephone') || ' ', __('user.info.telephone')) %></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><%= __('user.info.address') %> <span class="red-note">&#8277;</span></th>
                        <td>
                            <input name="address" value="<%= old('address', cUser.address) %>" type="text">
                            <p class="red-note"><%= __(errors('address') || ' ', __('user.info.address')) %></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><%= __('product.cart.user.payment-method') %> <span class="red-note">&#8277;</span></th>
                        <td>
                            <input id="cod" name="paymentMethod" value="cod"
                                   type="radio" <%= old('paymentMethod') === 'cod' ? 'checked' : '' %>>
                            <label for="cod"><%= __('product.cart.user.cod') %></label>
                            <br>
                            <input id="via-bank" name="paymentMethod" value="via-bank"
                                   type="radio" <%= old('paymentMethod') === 'via-bank' ? 'checked' : '' %>>
                            <label for="via-bank"><%= __('product.cart.user.via-bank') %></label>
                            <span class="bankAccount--display"><%= __('credit-card-number') %>: <%= info.bankAccount %></span>
                            <p class="red-note"><%= __(errors('paymentMethod') || ' ', __('product.cart.user.payment-method')) %></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><%= __('product.cart.user.note') %></th>
                        <td>
                            <textarea name="note"><%- old('note') %></textarea>
                            <p class="red-note"><%= __(errors('note') || ' ', __('product.cart.user.note')) %></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="ec-base-button">
                    <button class="custom_btn custom_btn_login custom_btn_submit"><%= __('send') %></button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript" src="/public/client/js/i18n1.js"
        charset="utf-8"></script>
<script type="text/javascript" src="/public/client/js/i18n2.js"
        charset="utf-8"></script>

<script type="text/javascript" src="/public/client/js/vendor.js"></script>
<script type="text/javascript" src="/public/client/js/test3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var mobileWeb = false;
</script>
<script>
    $(document).ready(function () {
        displayElementMethod('[name="paymentMethod"]:checked');
        $('[name="paymentMethod"]').on('change', function () {
            displayElementMethod(this);
        });
    });

    function displayElementMethod(element) {
        const value = $(element).val();
        if (value === 'via-bank') {
            $('.bankAccount--display').fadeIn();
        } else if (value === 'cod') {
            $('.bankAccount--display').fadeOut('bankAccount--display-block');
        }
    }
</script>
</body>
</html>
