<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="format-detection" content="telephone=no"/>
    <link href="//fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet"/>
    <!-- DMOON : Font awesome -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- DMOON : INIT SCRIPT -->
    <style type="text/css">
        .init {
            visibility: hidden;
        }
        .red-note {
            color: red;
            font-weight: bold;
        }
    </style>
    <script type="text/javascript" src="/public/client/js/custom_init.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/client/css/common.css"/>
    <title><%= titleRedis(info) %> | Xác nhận thông tin</title>
    <meta name="author" content="<%= titleRedis(info) %>"/>
    <meta name="description" content="Nội Thất Mây Hiên home. We create a product, not just it but all."/>
    <meta name="keywords" content="Đồ nội thất mây, đồ nội thất mây, ghế mây, đồ nội thất thủ công"/>

    <meta property="og:url" content="<%= originalUrl %> | Thanh toán đơn hàng" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="Mây Hiên Home" />
    <meta property="og:description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta property="og:image" content="https://mayhienhome.com/public/client/images/logo/fullLogo.png"/>
</head>
<body>

<div class="xans-element- xans-estimate xans-estimate-userform ec-base-layer" style="width: 99.9%;">
    <div class="header">
        <h1>Thêm thông tin người mua</h1>
    </div>
    <div class="content">
        <h2>Thông tin người mua</h2>
        <div class="ec-base-table">
            <form action="" method="POST">
                <table border="1">
                    <colgroup>
                        <col style="width:150px">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">Tên người mua <span class="red-note">&#8277;</span></th>
                        <td>
                            <input name="name" value="<%= old('name') %>" type="text">
                            <p><%= errors('name') %></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Email <span class="red-note">&#8277;</span></th>
                        <td>
                            <input name="email" value="<%= old('email') %>" type="text">
                            <p><%= errors('email') %></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Điện thoại di động <span class="red-note">&#8277;</span></th>
                        <td>
                            <input name="telephone" value="<%= old('telephone') %>" type="text">
                            <p><%= errors('telephone') %></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Địa chỉ <span class="red-note">&#8277;</span></th>
                        <td>
                            <input name="address" value="<%= old('address') %>" type="text">
                            <p><%= errors('address') %></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Ghi chú</th>
                        <td>
                            <textarea name="note"><%- old('note') %></textarea>
                            <p><%= errors('note') %></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="ec-base-button">
                    <button class="custom_btn custom_btn_login custom_btn_submit">Gửi</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript" src="/public/client/js/i18n1.js"
        charset="utf-8"></script>
<script type="text/javascript" src="/public/client/js/i18n2.js"
        charset="utf-8"></script>

<script type="text/javascript" src="/public/client/js/vendor.js"></script>
<script type="text/javascript" src="/public/client/js/test3.js"></script>
<script>
    var mobileWeb = false;
</script>
</body>
</html>
