<% layout('/layouts/admin/app') %>

<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/flat/green.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css') %>

<% script('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js') %>
<% script('https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=kohqnigwmla1nr4w3k7rpqcrl8qvhh1uvmjz5cn6c2mzglxv') %>

<% block('title', 'Blog - Tạo bài viết') %>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Blog</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">General Form</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tạo bài viết</h3>
            </div>
            <div class="card-body">
                <form class="blog-articles__form" action="" enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                        <label for="title">Tiêu đề</label>
                        <input type="text" class="form-control form__title__input" value="<%= old('title') %>"
                               name="title" placeholder="Nhập tiêu đề">
                        <p class="form__error-message form__title__error-message"><%= errors('title') %></p>
                    </div>
                    <div class="form-group">
                        <label>Thể loại</label>
                        <select class="form-control form__category__input select2" name="category" style="width: 100%;">
                            <option value="">Chọn thể loại</option>
                            <% blogCategories.forEach(function (element) { %>
                                <option <%= old('category') == element._id ? 'selected' : '' %>
                                    value="<%= element._id %>"><%= element.name %></option>
                            <% }) %>
                        </select>
                        <p class="form__error-message form__category__error-message"><%= errors('category') %></p>
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea name="description" class="form-control"><%= old('description') %></textarea>
                        <p class="form__error-message form__title__error-message"><%= errors('description') %></p>
                    </div>
                    <div>
                        <ul class="nav nav-tabs float-left nav-tabs--border-none">
                            <li class="active"><a data-toggle="tab" href="#image">Ảnh</a></li>
                            <li><a data-toggle="tab" href="#video">Video</a></li>
                        </ul>
                        <div class="float-right">
                            <span class="form__error-message"><%= errors('useVideo') %></span>
                            <label>
                                <input type="checkbox" name="useVideo" class="flat-red" <%= old('useVideo') ? 'checked' : '' %>> Dùng video
                            </label>
                        </div>
                    </div>

                    <div class="clearbox"></div>

                    <div class="tab-content">
                        <div id="image" class="tab-pane fade <%= !old('useVideo') ? 'in active show' : '' %>">
                            <div class="form-group">
                                <label>Ảnh</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input form__image__input" name="image" id="validatedCustomFile">
                                    <label class="custom-file-label" for="validatedCustomFile">Chọn ảnh</label>
                                </div>
                                <p class="form__error-message form__image__error-message"><%= errors('image') %></p>
                            </div>
                        </div>
                        <div id="video" class="tab-pane fade <%= old('useVideo') ? 'in active show' : '' %>">
                            <div class="form-group">
                                <label for="title">Video</label>
                                <input type="text" class="form-control form__video__input" value="<%= old('video') %>"
                                       name="video" placeholder="Nhập đường dẫn video">
                                <p class="form__error-message form__video__error-message"><%= errors('video') %></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Thẻ</label>
                        <select class="form-control form__tags__input select2" multiple style="width: 100%;" name="tags[]">
                            <% let check; blogTags.forEach(function (tag) { %>
                                <% check = false %>
                                <% if (old('tags')) { %>
                                    <% old('tags').some(function (oldTag) { %>
                                        <% check = (oldTag.toString() === tag._id.toString()) %>
                                        <% if (check) return true %>
                                    <% }) %>
                                <% } %>
                                <option value="<%= tag._id %>" <%= check ? 'selected' : '' %>><%= tag.name %></option>
                            <% }) %>
                        </select>
                        <p class="form__error-message form__tags__error-message"><%= errors('tags') %></p>
                    </div>
                    <div class="form-group">
                        <label>Nội dung</label>
                        <textarea name="content" class="form-control form__content__input tinymce"><%= old('content') %></textarea>
                        <p class="form__error-message form__content__error-message"><%= errors('content') %></p>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="isDraft" class="flat-red" <%= old('isDraft') ? 'checked' : '' %>> Nháp
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng bài</button>
                </form>
            </div>
        </div>
    </div>
</section>

<% block('scripts', `
<script>
    $(document).ready(function () {
        $('.select2').select2();
        $('input[type="checkbox"], input[type="radio"]').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });
        tinymce.init({
            selector: 'textarea.tinymce',
            height: 500,
            plugins: 'print preview fullpage searchreplace autolink directionality visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount imagetools contextmenu colorpicker textpattern help',
            toolbar: "insertfile undo redo | styleselect | fontsizeselect | bold italic strikethrough forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            images_upload_url: '/admin/images/upload',
            images_upload_handler: function (blobInfo, success, failure) {
                const formData = new FormData();
                formData.append('image', blobInfo.blob(), blobInfo.filename());
                $.ajax({
                    url: '/admin/images/upload',
                    type: 'POST',
                    dataType: 'json',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        if (!res.status) {
                            swal('Error!', res.error.message[0], 'Error');
                            return false;
                        }
                        success(res.data[0]);
                    }
                });
            }
        });
    });
</script>
`) %>
