<% layout('../../../layouts/admin/app') %>

<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/flat/green.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css') %>

<% script('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js') %>
<% script('https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=z27ex772s1pdtappa5g4xgcmnefnoxrer6zhvwu743rri69i') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js') %>

<% block('title', `Blog - ${blogArticle.title}`) %>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật bài viết</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Cập nhật bài viết</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Chỉnh sửa bài viết</h3>
            </div>
            <div class="card-body">
                <form class="blog-articles__form" action="/admin/blog/articles/edit/<%= blogArticle._id %>" enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                        <label for="title">Tiêu đề</label>
                        <input type="text" class="form-control" value="<%= old('title', blogArticle.title) %>" name="title">
                        <p class="form__error-message"><%= errors('title') %></p>
                    </div>
                    <div class="form-group">
                        <label>Thể loại</label>
                        <select class="form-control" name="category" style="width: 100%;">
                            <option value="0">Chọn thể loại</option>
                            <% blogCategories.forEach(function (element) { %>
                                <option <%= old('category', blogArticle.category.toString()) == element._id.toString() ? 'selected' : '' %>
                                        value="<%= element._id %>"><%= element.name %></option>
                            <% }) %>
                        </select>
                        <p class="form__error-message"><%= errors('category') %></p>
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea name="description" class="form-control"><%= old('description', blogArticle.description) %></textarea>
                        <p class="form__error-message"><%= errors('description') %></p>
                    </div>
                    <div>
                        <ul class="nav nav-tabs float-left nav-tabs--border-none">
                            <li class="active"><a data-toggle="tab" href="#image">Ảnh</a></li>
                            <li><a data-toggle="tab" href="#video">Video</a></li>
                        </ul>
                        <div class="float-right">
                            <span class="form__error-message"><%= errors('useVideo') %></span>
                            <label>
                                <input type="checkbox" name="useVideo" class="flat-red" <%= old('useVideo', blogArticle.display.useVideo) ? 'checked' : '' %>> Dùng video
                            </label>
                        </div>
                    </div>
                    <div class="clearbox"></div>
                    <div class="tab-content">
                        <div id="image" class="tab-pane fade <%= !old('useVideo', blogArticle.display.useVideo) ? 'in active show' : '' %>">
                            <div class="form-group">
                                <label>Ảnh</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="image" id="validatedCustomFile">
                                    <input type="hidden" name="imageUrl" value="<%= blogArticle.display.image %>">
                                    <label class="custom-file-label" for="validatedCustomFile">Chọn ảnh</label>
                                </div>
                                <p class="form__error-message"><%= errors('image') %></p>
                            </div>
                        </div>
                        <div id="video" class="tab-pane fade <%= old('useVideo', blogArticle.display.useVideo) ? 'in active show' : '' %>">
                            <div class="form-group">
                                <label for="title">Video</label>
                                <input type="text" class="form-control" value="<%= old('video', blogArticle.display.video) %>" name="video">
                                <p class="form__error-message"><%= errors('video') %></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Thẻ</label>
                        <select class="form-control select2" multiple style="width: 100%;" name="tags">
                            <% let oldTags = old('tags', blogArticle.tags); let check; %>
                            <% oldTags = (typeof oldTags === 'string') ? [oldTags] : oldTags %>
                            <% blogTags.forEach(function (tag) { %>
                                <% if (oldTags) { %>
                                    <% oldTags.some(function (oldTag) { %>
                                        <% check = (oldTag.toString() === tag._id.toString()) %>
                                        <% if (check) return true %>
                                    <% }) %>
                                <% } %>
                                <option value="<%= tag._id %>" <%= check ? 'selected' : '' %>><%= tag.name %></option>
                            <% }) %>
                        </select>
                        <p class="form__error-message"><%= errors('tags') %></p>
                    </div>
                    <div class="form-group">
                        <label>Nội dung</label>
                        <textarea name="content" class="form-control tinymce"><%= old('content', blogArticle.content) %></textarea>
                        <p class="form__error-message"><%= errors('content') %></p>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="isDraft" class="flat-red" <%= old('isDraft', hasError() ? false : blogArticle.isDraft) ? 'checked' : '' %>> Nháp
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
                </form>
            </div>
        </div>
    </div>
</section>

<% block('scripts', `
<script>
    $(document).ready(function () {
        $('.select2').select2();
        $('input[type="checkbox"], input[type="radio"]').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });
    });
</script>
`) %>
