<% layout('/layouts/admin/app') %>

<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js') %>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Blog</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Simple Tables</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title pull-left">Bài viết</h3>
                <div class="pull-right">
                    <form action="" class="form-inline" method="get">
                        <div class="form-group">
                            <input type="text" class="form-control search-form__input"
                                   name="search" value="<%- query.search %>">
                            <button class="btn btn-primary search-form__btn"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered module__table"
                       data-approve-url="/admin/blog/articles/approve" data-delete-url="/admin/blog/articles/delete">
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Tiêu đề</th>
                        <th>Thể loại</th>
                        <th>Người viết</th>
                        <th>Ngày tạo</th>
                        <th style="width: 120px">Label</th>
                    </tr>
                    <% pageIndex = getPageIndex(query.page) %>
                    <% blogArticles.docs.forEach(function (article, index) { %>
                        <tr data-key="<%- article._id %>">
                            <td><%- pageIndex + index + 1 %></td>
                            <td><%- article.title %></td>
                            <td><%- article.category.name %></td>
                            <td><%- article.author.name %></td>
                            <td><%- moment(article.createdAt).format('HH:mm DD/MM/YYYY') %></td>
                            <td>
                                <a href="#" class="badge bg-primary-gradient"><i class="fa fa-eye"></i></a>
                                <% if (!article.isApprove) { %>
                                    <button class="badge bg-success-gradient module__approve-btn">
                                        <i class="fa fa-check"></i>
                                    </button>
                                <% } %>
                                <a href="#" class="badge bg-warning-gradient"><i class="fa fa-pencil"></i></a>
                                <button class="badge bg-danger-gradient module__delete-btn">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    <% }) %>
                </table>
            </div>
            <div class="card-footer clearfix">
                <div class=" pagination-sm m-0 float-right">
                    <%- blogArticles.renderPagination(blogArticles, query.page) %>
                </div>
            </div>
        </div>
    </div>
</section>
