<% layout('../../../layouts/admin/app') %>

<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/flat/green.css') %>

<% script('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js') %>

<% block('title', 'Hóa đơn - Danh sách') %>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Đơn hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Quản lý đơn hàng</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title pull-left">Quản lý đơn hàng</h3>
                <div class="pull-right">
                    <form action="" class="form-inline" method="get">
                        <div class="form-group">
                            <label class="bills__table__search-status">
                                <input type="checkbox" class="flat-red"
                                       name="status" value="0" <%= (query.status === '0' || query.status === '0,1') ? 'checked' : '' %>> Chưa duyệt
                            </label>
                            <label class="bills__table__search-status">
                                <input type="checkbox" class="flat-red"
                                       name="status" value="1" <%= (query.status === '1' || query.status === '0,1') ? 'checked' : '' %>> Đã duyệt
                            </label>
                            <select class="form-control search-form__input bills__table__search__method" name="method">
                                <option value="normal" <%= query.method === 'normal' ? 'selected' : '' %>>
                                    Thông thường
                                </option>
                                <option value="date" <%= query.method === 'date' ? 'selected' : '' %>>
                                    Thời gian
                                </option>
                            </select>
                            <div class="bills__table__search-date <%= query.method !== 'date' ? 'hide' : '' %>">
                                <div class="input-group input-daterange">
                                    <input type="text" class="form-control bills__table__search-date__start"
                                           data-date-end-date="<%= query.end || '' %>"
                                           value="<%= query.start || '' %>" name="start" autocomplete="off">
                                    <input type="text" class="form-control bills__table__search-date__end"
                                           data-date-start-date="<%= query.start || '' %>"
                                           value="<%= query.end || '' %>" name="end" autocomplete="off">
                                </div>
                            </div>
                            <div class="bills__table__search-normal <%= query.method === 'date' ? 'hide' : '' %>">
                                <select class="form-control search-form__input" name="type">
                                    <option value="user" <%= query.type === 'search' ? 'selected' : '' %>>
                                        Tên người dùng
                                    </option>
                                    <option value="code" <%= query.type === 'code' ? 'selected' : '' %>>
                                        Mã đơn hàng
                                    </option>
                                </select>
                                <input type="text" class="form-control search-form__input" placeholder="Tìm kiếm"
                                       name="search" value="<%= query.search || '' %>">
                            </div>
                            <button class="btn btn-primary search-form__btn"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered module__table"
                       data-approve-url="/admin/bills/approve" data-delete-url="/admin/bills/delete"
                data-revert-url="/admin/bills/revert">
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Mã đơn hàng</th>
                        <th>Người mua</th>
                        <th>Số tiền</th>
                        <th>Ngày tạo</th>
                        <th style="width: 120px">Tùy chọn</th>
                    </tr>
                    <% pageIndex = getPageIndex(query.page) %>
                    <% bills.docs.forEach(function (bill, index) { %>
                        <tr data-key="<%= bill._id %>">
                            <td><%= pageIndex + index + 1 %></td>
                            <td><a href="/admin/bills/<%= bill.code %>"><%= bill.code %></a></td>
                            <td>
                                <% if (bill.user) { %>
                                    <a href="/admin/users/<%= bill.user.slug %>"><%= bill.user.name %></a>
                                <% } %>
                            </td>
                            <td><%= formatPrice(bill.price) %> ₫</td>
                            <td><%= moment(bill.createdAt).format('HH:mm DD/MM/YYYY') %></td>
                            <td>
                                <span class="module__delete-container <%= bill.deletedAt ? 'hide' : '' %>">
                                    <% if (bill.userInformation.name) { %>
                                        <button class="badge bg-primary-gradient module__show-user-info-btn" data-toggle="modal" data-target="#myModal<%= index %>">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        <div class="hide bill__table__user-info"
                                             data-user-name="<%= bill.userInformation.name %>"
                                             data-user-email="<%= bill.userInformation.email %>"
                                             data-user-telephone="<%= bill.userInformation.telephone %>"
                                             data-user-address="<%= bill.userInformation.address %>"
                                             data-payment-method="<%= bill.userInformation.paymentMethod %>"
                                             data-note="<%= bill.userInformation.note %>"
                                        ></div>
                                    <% } %>
                                    <% if (!bill.isApproved) { %>
                                        <button class="badge bg-success-gradient module__approve-btn remove-btn">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    <% } %>
                                    <button class="badge bg-danger-gradient module__delete-btn">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </span>
                                <span class="module__revert-container <%= !bill.deletedAt ? 'hide' : '' %>">
                                    <button class="badge bg-success-gradient module__revert-btn">
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    <% }) %>
                </table>
            </div>
            <div class="card-footer clearfix">
                <div class=" pagination-sm m-0 float-right">
                    <%- bills.renderPagination(bills, query.page) %>
                </div>
            </div>
        </div>
    </div>
</section>

<% bills.docs.forEach(function (bill, index) { %>
    <div class="modal" id="myModal<%= index %>">
        <div class="modal-lg modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thông tin người dùng</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th scope="row">Tên</th>
                            <td class="user-info__table__name"><%= bill.userInformation.name %></td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td class="user-info__table__email"><%= bill.userInformation.email %></td>
                        </tr>
                        <tr>
                            <th scope="row">Số điện thoại</th>
                            <td><%= bill.userInformation.telephone %></td>
                        </tr>
                        <tr>
                            <th scope="row">Phương thức thanh toán</th>
                            <td>
                                <% const { paymentMethod } = bill.userInformation; %>
                                <% if (paymentMethod === 'cod') { %>
                                    Thanh toán tiền mặt khi nhận hàng
                                <% } else if (paymentMethod === 'via-bank') { %>
                                    Thanh toán qua thẻ ngân hàng
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Địa chỉ</th>
                            <td><%= bill.userInformation.address %></td>
                        </tr>
                        <tr>
                            <th scope="row">Lưu ý</th>
                            <td><%= bill.userInformation.note %></td>
                        </tr>
                        <tr>
                            <th scope="row">Tổng số tiền</th>
                            <td><%= formatPrice(bill.price) %></td>
                        </tr>
                        </tbody>
                    </table>
                    <h3>Đơn hàng</h3>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="row">Tên</th>
                            <th scope="row">Số lượng</th>
                            <th scope="row">Đơn giá</th>
                            <th scope="row">Tổng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% bill.productBill.forEach((element) => { %>
                            <tr>
                                <td><%= element.product.name %></td>
                                <td class=""><%= element.quantity %></td>
                                <td class=""><%= formatPrice(element.price) %> ₫</td>
                                <td class=""><%= formatPrice(element.quantity * element.price) %> ₫</td>
                            </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<% }) %>

<% block('scripts', `
<script>
    $(document).ready(function () {
        $('input[type="checkbox"], input[type="radio"]').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });
    });
</script>
`) %>
