<% layout('/layouts/admin/app') %>

<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/flat/green.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css') %>

<% script('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js') %>
<% script('https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=kohqnigwmla1nr4w3k7rpqcrl8qvhh1uvmjz5cn6c2mzglxv') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js') %>

<% block('title', 'Bất động sản - Tạo bài viết') %>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Bất động sản</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">General Form</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tạo bài viết</h3>
            </div>
            <div class="card-body">
                <form role="form" action="" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Tiêu đề</label>
                                <input type="text" class="form-control" name="title" value="<%= old('title') %>">
                                <p class="form__error-message"><%= errors('title') %></p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ảnh</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input form__image__input" name="image">
                                            <label class="custom-file-label">Chọn ảnh</label>
                                        </div>
                                        <p class="form__error-message"><%= errors('image') %></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Video</label>
                                        <input type="text" class="form-control" name="video" value="<%= old('video') %>">
                                        <p class="form__error-message"><%= errors('video') %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea class="form-control tinymce" name="description"><%= old('description') %></textarea>
                                <p class="form__error-message"><%= errors('description') %></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Loại hình</label>
                                        <select class="form-control" name="category">
                                            <option value="0">Chọn loại hình</option>
                                            <% propertyCategories.forEach(function (category) { %>
                                                <option value="<%= category._id %>" <%= category._id.toString() === old('category') ? 'selected' : '' %>>
                                                    <%= category.name %>
                                                </option>
                                            <% }) %>
                                        </select>
                                        <p class="form__error-message"><%= errors('category') %></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Hình thức kinh doanh</label>
                                        <select class="form-control" name="type">
                                            <option value="0">Chọn hình thức kinh doanh</option>
                                            <% propertyTypes.forEach(function (type) { %>
                                                <option value="<%= type._id %>" <%= type._id.toString() === old('type') ? 'selected' : '' %>>
                                                    <%= type.name %>
                                                </option>
                                            <% }) %>
                                        </select>
                                        <p class="form__error-message"><%= errors('type') %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Trạng thái</label>
                                        <select class="form-control" name="status">
                                            <option value="0">Chọn trạng thái</option>
                                            <% propertyStatuses.forEach(function (status) { %>
                                                <option value="<%= status._id %>" <%= status._id.toString() === old('status') ? 'selected' : '' %>>
                                                    <%= status.name %>
                                                </option>
                                            <% }) %>
                                        </select>
                                        <p class="form__error-message"><%= errors('status') %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tỉnh / Thành phố</label>
                                        <select class="form-control" name="city">
                                            <option value="0">Chọn tỉnh / thành phố</option>
                                            <% cities.forEach(function (city) { %>
                                                <option value="<%= city._id %>" <%= city._id.toString() === old('city') ? 'selected' : '' %>>
                                                    <%= city.name %>
                                                </option>
                                            <% }) %>
                                        </select>
                                        <p class="form__error-message"><%= errors('city') %></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Quận / Huyện</label>
                                        <select class="form-control" name="district">
                                            <option value="0">Chọn quận / huyện</option>
                                            <% districts.forEach(function (district) { %>
                                                <option value="<%= district._id %>" data-city="<%= district.city %>"
                                                        <%= district._id.toString() === old('district') ? ' selected' : '' %>>
                                                    <%= district.name %>
                                                </option>
                                            <% }) %>
                                        </select>
                                        <p class="form__error-message"><%= errors('district') %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control" name="address" value="<%= old('address') %>">
                                <p class="form__error-message"><%= errors('address') %></p>
                            </div>
                            <div class="form-group">
                                <label>Diện tích (m<sup>2</sup>)</label>
                                <input type="number" class="form-control" name="area" value="<%= old('area') %>">
                                <p class="form__error-message"><%= errors('area') %></p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Giá</label>
                                        <input type="number" class="form-control" name="price[value]" value="<%= old('price.value') %>">
                                        <p class="form__error-message"><%= errors('price[value]') %></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Loại giá</label>
                                        <select class="form-control" name="price[type]">
                                            <% priceTypes.forEach(function (priceType) { %>
                                                <option value="<%= priceType._id %>" <%= priceType._id.toString() === old('price.type') %>>
                                                    <%= priceType.name %>
                                                </option>
                                            <% }) %>
                                        </select>
                                        <p class="form__error-message"><%= errors('price[type]') %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Kiểm tra</label>
                                    <input type="text" readonly name="price[display]" class="form-control" value="<%= old('price.display') %>">
                                </div>
                                <div class="col-md-6">
                                    <label>Thỏa thuận</label>
                                    <div>
                                        <label>
                                            <input type="checkbox" class="form-control flat-red" name="price[isAgreement]"
                                                    <%= old('price.isAgreement') ? 'checked' : '' %>>
                                        </label>
                                    </div>
                                    <p class="form__error-message"><%= errors('price[isAgreement]') %></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Nội thất</label>
                                <!-- 106px -->
                                <select class="form-control select2 property-article__form__amenities" name="amenities" multiple style="width: 100%;">
                                    <% const oldAmenities = old('amenities'); let check; %>
                                    <% propertyAmenities.forEach(function (amenity) { %>
                                        <% check = false %>
                                        <% if (oldAmenities) { %>
                                            <% oldAmenities.some(function (oldAmenity) { %>
                                                <% check = (oldAmenity.toString() === amenity._id.toString()) %>
                                                <% if (check) return true %>
                                            <% }) %>
                                        <% } %>
                                        <option value="<%= amenity._id %>" <%= check ? 'selected' : '' %>><%= amenity.name %></option>
                                    <% }) %>
                                </select>
                                <p class="form__error-message"><%= errors('amenities') %></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <% const conditionsErrors = JSON.parse(errors('conditions') || '[]') %>
                        <% propertyConditions.forEach(function (condition) { %>
                            <% let conditionsError = conditionsErrors.find(oldCondition => {
                                return oldCondition.condition.toString() === condition._id.toString();
                            }) %>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label"><%= condition.name %></label>
                                    <input type="number" class="form-control" name="conditions[<%= condition._id %>]"
                                           value="<%= old(`conditions.${condition._id}`) %>">
                                    <p class="form__error-message"><%= conditionsError ? conditionsError.msg : '' %></p>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" class="flat-red" name="isDraft" <%= old('isDraft') ? 'checked' : '' %>> Nháp
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng bài</button>
                </form>
            </div>
        </div>
    </div>
</section>

<% block('scripts', `
<script>
    Dropzone.autoDiscover = false;
    $(document).ready(function () {
        $('.select2').select2();
        $('input[type="checkbox"], input[type="radio"]').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });
        tinymce.init({
            selector: 'textarea.tinymce',
            height: 350,
            plugins: 'print preview fullpage searchreplace autolink directionality visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount imagetools contextmenu colorpicker textpattern help',
            toolbar: "insertfile undo redo | styleselect | fontsizeselect | bold italic strikethrough forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            images_upload_handler: function (blobInfo, success, failure) {
                const formData = new FormData();
                formData.append('images', blobInfo.blob(), blobInfo.filename());
                $.ajax({
                    url: '/admin/images/upload',
                    type: 'POST',
                    dataType: 'json',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        if (!res.status) {
                            failure(res.error.message[0]);
                        }
                        success(res.data[0]);
                    }
                });
            }
        });
    });
</script>
`) %>
