<% layout('../../../layouts/client/blog') %>

<% block('metaTags', `
    <meta name="description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta name="keywords" content="Đồ nội thất mây, đồ nội thất mây, ghế mây, đồ nội thất thủ công"/>

    <meta property="og:url" content="${originalUrl}" id="fbUrl" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="${titleRedis(info)} | Tin tức thẻ ${blogTag.name}" />
    <meta property="og:description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta property="og:image" content="https://mayhienhome.com/public/client/images/logo/fullLogo.png" />
`) %>

<% block('title', __('blog.tag') + ' ' + blogTag.getName) %>

<h2 class="single-article-title fl-wrap"><span><%= __('blog.tag') %>: <%= blogTag.getName %></span></h2>
<div class="clearfix"></div>
<div class="separator img-separator"><img src="http://demowp.cththemes.net/springbook/wp-content/themes/springbook/images/sep-blk.png" alt=""></div>
<div class="post-grid-wrap">
    <div class="post-grid-holder grid-sb-holder blog-grid-one-col row" style="position: relative; height: 1688px;">
        <% if (blogArticles.docs.length === 0 ) { %>
            <p style="width:100%;text-align:center;margin-top: 10px;"><%= __('blog.article.no-articles') %></p>
        <% } else { %>
            <% blogArticles.docs.forEach((article) => { %>
            <div class="grid-sb-wrap col-12 col-sm-6">
                <article class="grid-sb">
                    <div class="blog-media">
                        <% if (article.display.useVideo) { %>
                            <div class="iframe__container">
                                <iframe class="blog-article__iframe" src="<%= article.display.video %>" allowfullscreen></iframe>
                            </div>
                        <% } else { %>
                            <img src="<%= article.display.image %>"
                                 alt="<%= article.title %>" class="img-responsive">
                            <div class="overlay"></div>
                            <a href="/blog/<%= article.slug %>" class="dec-link"><%= __('read-more') %></a>
                        <% } %>
                    </div>
                    <ul class="cat-list">
                        <li><%= moment(article.updatedAt).format('L') %></li>
                        <li>
                            <ul class="post-categories">
                                <li><a href="/blog/chuyen-muc-<%= article.category.slug %>" rel="category tag"><%= article.category.getName %></a></li>
                            </ul>
                        </li>
                    </ul>
                    <h2><a href="/blog/<%= article.slug %>"><%= article.title %></a></h2>
                    <p><%= article.description %></p>
                    <div class="clearfix"></div><a href="/blog/<%= article.slug %>" class="post-link"><%= __('read-more') %></a>
                </article>
            </div>
            <% }) %>
        <% } %>
    </div>
    <div class="clearfix"></div>
    <div class="vertical-separator"></div>
</div>
<% if(blogArticles.total !== 0 ) { %>
    <div class="card-footer clearfix">
        <div class="pagination-list">
            <%- blogArticles.renderPagination(blogArticles, query.page) %>
        </div>
    </div>
<% } %>
