<% layout('/layouts/client/app') %>

<% block('title', `Blog - Thẻ ${blogTag.name}`) %>

<div class="sub-banner overview-bgi">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1><%= blogTag.name %></h1>
                <ul class="breadcrumbs">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="/blog">Blog</a></li>
                    <li class="active">Thẻ <%= blogTag.name %></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Blog body start -->
<div class="blog-body content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-12">
                <!-- Blog box start -->
                <% if (blogArticles.docs.length === 0) { %>
                    <h4 class="title text-center">Không tìm thấy bài viết nào</h4>
                <% } else { %>
                    <% blogArticles.docs.forEach(article => { %>
                        <div class="thumbnail blog-box clearfix">
                            <% if (article.display.useVideo && article.display.video) { %>
                                <iframe class="blog-article__iframe" src="<%= article.display.video %>"></iframe>
                            <% } else if (article.display.image) { %>
                                <img src="<%= article.display.image %>" alt="<%= article.title %>" class="img-responsive">
                            <% } %>
                            <!-- Detail -->
                            <div class="caption detail">
                                <div class="date-box">
                                    <h5><%= moment(article.createdAt).format('DD') %></h5>
                                    <h5><%= moment(article.createdAt).format('MMM') %></h5>
                                </div>
                                <!-- title -->
                                <h3 class="title"><a href="/blog/<%= article.slug %>"> <%= article.title %> </a></h3>

                                <!-- Post meta -->
                                <div class="post-meta">
                                    <span><a href="#"><i class="fa fa-user"></i><%= article.author ? article.author.name : '' %></a></span>
                                    <span><a><i class="fa fa-calendar "></i><%= moment(article.createdAt).format('DD/MM/YYYY') %></a></span>
                                    <span><a href="/blog/chuyen-muc-<%= article.category.slug %>"><i class="fa fa-bars"></i><%= article.category.name %></a></span>
                                </div>
                                <p> <%= article.description %> </p>
                                <div class="clearfix"></div>
                                <a href="/blog/<%= article.slug %>" class="read-more">Xem thêm</a>
                            </div>
                        </div>
                    <% }); %>
                    <nav aria-label="Page navigation">
                        <%- blogArticles.renderPagination(blogArticles, query.page) %>
                    </nav>
                <% } %>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="sidebar">
                    <div class="sidebar-widget search-box">
                        <form class="form-inline form-search" method="GET">
                            <div class="form-group">
                                <label class="sr-only">Search</label>
                                <input type="text" name="search" class="form-control" placeholder="Tìm kiếm" value="<%= query.search || '' %>">
                            </div>
                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <%- partial('../../../layouts/client/partials/sidebar') %>
                </div>
            </div>
        </div>
    </div>
</div>
