<% layout('../../../layouts/client/app') %>

<% block('metaTags', `
    <meta name="description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta name="keywords" content="Đồ nội thất mây, đồ nội thất mây, ghế mây, đồ nội thất thủ công"/>

    <meta property="og:url" content="${originalUrl}" id="fbUrl" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="${titleRedis(info)} | Đơn hàng mã ${code}" />
    <meta property="og:description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta property="og:image" content="https://mayhienhome.com/public/client/images/logo/fullLogo.png" />
`) %>

<% stylesheet('/public/client/css/styleOrderHistory.css') %>

<% block('title', __('product.bill.detail-title')) %>

<div id="contents">

    <div class="titleArea">
        <h2><%= __('product.bill.title') %> <%= code %></h2>
    </div>

    <div class="xans-element- xans-myshop xans-myshop-orderhistorytab ec-base-tab ">
        <ul class="menu">
            <li><a href="/nguoi-dung/don-hang"><%= __('product.bill.bills') %></a></li>
            <li class="selected">
                <a href=""><%= __('product.bill.title') %> <%= code %></a>
            </li>
        </ul>
    </div>
    <div class="xans-element- xans-myshop xans-myshop-orderhistorylistitem ec-base-table typeList">
        <div class="title">
            <h3><%= __('product.bill.title') %> <%= code %></h3>
        </div>
        <table border="1" summary="" class="center">
            <colgroup>
                <col style="width:135px;"/>
                <col style="width:93px;"/>
                <col style="width:auto;"/>
                <col style="width:61px;"/>
                <col style="width:111px;"/>
                <col style="width:111px;"/>
                <col style="width:111px;"/>
            </colgroup>
            <thead>
            <tr>
                <th scope="col"><%= __('product.order.date') %></th>
                <th scope="col"><%= __('product.image') %></th>
                <th scope="col"><%= __('product.product') %></th>
                <th scope="col"><%= __('product.price.unit') %></th>
                <th scope="col"><%= __('product.quantity') %></th>
                <th scope="col"><%= __('product.price.to-money') %></th>
            </tr>
            </thead>
            <tbody>
                <% let totalMoney = 0; %>
                <% billDetail.productBill.forEach((p)=> { %>
                <tr>
                    <td  class="time">
                       <%= moment(billDetail.createdAt).format('L') %>
                    </td>
                    <td class="image bill__product">
                        <img src="<%= p.product.image.cover %>" alt="">
                    </td>
                    <td class="name"><%= p.product.name %></td>
                    <td class="name">
                        <strong><%= formatPrice(p.price) %> ₫</strong>
                    </td>
                    <td class="quantity"><%= p.quantity %></td>
                    <td class="price">
                        <% totalMoney += p.price * p.quantity; %>
                        <strong><%= formatPrice(p.price * p.quantity) %> ₫</strong>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <p class="right" style="margin-top: 15px"><strong><%= __('product.price.total') %>: <%= formatPrice(totalMoney) %> ₫</strong></p>
    </div>
</div>
