<% layout('../../../layouts/client/app') %>

<% stylesheet('/public/client/css/styleOrderHistory.css') %>

<% block('title', 'Trang chủ') %>

<div id="contents">

    <div class="titleArea">
        <h2>Chi tiết đơn hàng</h2>
    </div>

    <div class="xans-element- xans-myshop xans-myshop-orderhistorytab ec-base-tab ">
        <ul class="menu">
           
        </ul>
    </div>

    <form method="GET" id="OrderHistoryForm" name="OrderHistoryForm">
        <div class="xans-element- xans-myshop xans-myshop-orderhistoryhead ">
            <fieldset class="ec-base-box">
                <legend>Tìm kiếm</legend>
                <div class="stateSelect displaynone">
                </div>
                <span class="period">
            <a href="#none" class="btnNormal" days="00"><img
                        src="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date1.gif"
                        offimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date1.gif"
                        onimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date1_on.gif" alt="오늘"/></a>
            <a href="#none" class="btnNormal" days="07"><img
                        src="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date2.gif"
                        offimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date2.gif"
                        onimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date2_on.gif" alt="1주일"/></a>
            <a href="#none" class="btnNormal" days="30"><img
                        src="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date3.gif"
                        offimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date3.gif"
                        onimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date3_on.gif" alt="1개월"/></a>
            <a href="#none" class="btnNormal" days="90"><img
                        src="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date4.gif"
                        offimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date4.gif"
                        onimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date4_on.gif" alt="3개월"/></a>
            <a href="#none" class="btnNormal" days="180"><img
                        src="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date5.gif"
                        offimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date5.gif"
                        onimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date5_on.gif" alt="6개월"/></a>
        </span>
                <input id="history_start_date" name="history_start_date" class="fText" readonly="readonly"
                       size="10" value="2018-06-13" type="text"/> ~ <input id="history_end_date"
                                                                           name="history_end_date"
                                                                           class="fText" readonly="readonly"
                                                                           size="10" value="2018-09-11"
                                                                           type="text"/> <input alt="조회"
                                                                                                id="order_search_btn"
                                                                                                type="image"
                                                                                                src="//img.echosting.cafe24.com/skin/admin_ko_KR/myshop/btn_search.gif"/>
            </fieldset>
            <ul>
                <li>Bạn có thể xem lịch sử đơn hàng cuối cùng khi tìm kiếm</li>
                <li>Nhấp vào số đơn đặt hàng để xem chi tiết đơn đặt hàng.</li>
                
            </ul>
        </div>
        <input id="mode" name="mode" value="cs" type="hidden"/>
        <input id="term" name="term" value="" type="hidden"/>
    </form>
    <div class="xans-element- xans-myshop xans-myshop-orderhistorylistitem ec-base-table typeList"><!--
        $login_url = /member/login.html
    -->
        <div class="title">
            <h3>Đơn hàng <%= code %></h3>
        </div>
        <table border="1" summary="">
            <caption>취소/반품/교환</caption>
            <colgroup>
                <col style="width:135px;"/>
                <col style="width:93px;"/>
                <col style="width:auto;"/>
                <col style="width:61px;"/>
                <col style="width:111px;"/>
                <col style="width:111px;"/>
                <col style="width:111px;"/>
            </colgroup>
            <thead>
            <tr>
                <th scope="col">Ngày đặt hàng</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Thành tiền</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Hủy/đổi/trả</th>
            </tr>
            </thead>
            <tbody class="center">
                <% billDetail.productBill.forEach((p)=> { %>
                <tr class="">
                        <td  class="time">
                            <a href="/nguoi-dung/don-hang/chi-tiet/<%= code %>"> <%= moment(billDetail.createdAt).format('L') %> </a>

                        </td>
                        <td class="image">
                            <img src="" alt="">
                        </td>

                        <td class="name">
                            <a href=""><%= p.product.name %></a>
                        </td>
                        <td class="quantity"> <%= p.quantity %> </td>
                        <td class="right price">
                            <strong><%= p.price %></strong>
                        </td>
                        <td class="status">
                             <%= billDetail.isApproved === 'underfined' ? 'Chưa xác nhận' : 'Đã xác nhận' %>
                        </td>
                        <td>
                                <a href="">Hủy/ đổi/ trả</a>
                        </td>
                </tr>
                <% }) %>
            </tbody>
        </table>

    </div>


</div>
