<% layout('../../../layouts/client/app') %>

<% stylesheet('/public/client/css/styleOrderHistory.css') %>

<% block('title', 'Đơn hàng chi tiết') %>

<div id="contents">

    <div class="titleArea">
        <h2>Đơn hàng <%= code %></h2>
    </div>

    <div class="xans-element- xans-myshop xans-myshop-orderhistorytab ec-base-tab ">
        <ul class="menu">
            <li class="">
                <a href="/nguoi-dung/don-hang">Đơn hàng</a>
            </li>
            <li class="selected">
                <a href="">Đơn hàng <%= code %></a>
            </li>
        </ul>
    </div>
    <div class="xans-element- xans-myshop xans-myshop-orderhistorylistitem ec-base-table typeList">
        <div class="title">
            <h3>Đơn hàng <%= code %></h3>
        </div>
        <table border="1" summary="">
            <colgroup>
                <col style="width:135px;"/>
                <col style="width:93px;"/>
                <col style="width:auto;"/>
                <col style="width:61px;"/>
                <col style="width:111px;"/>
                <col style="width:111px;"/>
                <col style="width:111px;"/>
            </colgroup>
            <thead>
            <tr>
                <th scope="col">Ngày đặt hàng</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Sản phẩm</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Thành tiền</th>
            </tr>
            </thead>
            <tbody class="center">
                <% let totalMoney = 0; %>
                <% billDetail.productBill.forEach((p)=> { %>
                <tr>
                    <td  class="time">
                        <a href="/nguoi-dung/don-hang/chi-tiet/<%= code %>"> <%= moment(billDetail.createdAt).format('L') %> </a>
                    </td>
                    <td class="image bill__product">
                        <img src="<%= p.product.image.cover %>" alt="">
                    </td>
                    <td class="name"><%= p.product.name %></td>
                    <td class="name">
                        <strong><%= formatPrice(p.price) %> ₫</strong>
                    </td>
                    <td class="quantity"><%= p.quantity %></td>
                    <td class="price">
                        <% totalMoney += p.price * p.quantity; %>
                        <strong><%= formatPrice(p.price * p.quantity) %> ₫</strong>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <p class="right" style="margin-top: 15px"><strong>Tổng: <%= totalMoney %> ₫</strong></p>
    </div>
</div>
