<% layout('../../../layouts/client/app') %>

<% block('metaTags', `
    <meta name="description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta name="keywords" content="Đồ nội thất mây, đồ nội thất mây, ghế mây, đồ nội thất thủ công"/>

    <meta property="og:url" content="${originalUrl}" id="fbUrl" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="${titleRedis(info)} | Tất cả đơn hàng" />
    <meta property="og:description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta property="og:image" content="https://mayhienhome.com/public/client/images/logo/fullLogo.png" />
`) %>

<% stylesheet('/public/client/css/styleOrderHistory.css') %>

<% block('title', __('product.bill.bills')) %>

<div id="contents">
    <div class="titleArea">
       <h2><%= __('product.bill.bills') %></h2>
    </div>
    <div class="xans-element- xans-myshop xans-myshop-orderhistorytab ec-base-tab ">
       <ul class="menu">
          <li class="selected"><a href="/nguoi-dung/don-hang"><%= __('product.bill.bills') %></a></li>
        </ul>
    </div>

    <div class="xans-element- xans-myshop xans-myshop-orderhistorylistitem ec-base-table typeList">
       <!--
        $login_url = /member/login.html
    -->
        <div class="title">
            <h3><%= __('product.bill.info') %></h3>
        </div>
        <table border="1" summary="" class="center">
            <colgroup>
                <col style="width:135px;"/>
                <col style="width:93px;"/>
                <col style="width:auto;"/>
                <col style="width:61px;"/>
                <col style="width:111px;"/>
                <col style="width:111px;"/>
                <col style="width:111px;"/>
            </colgroup>
            <thead>
                <tr>
                    <th scope="col"><%= __('product.bill.code') %></th>
                    <th scope="col"><%= __('product.bill.date') %></th>
                    <th scope="col"><%= __('product.product') %></th>
                    <th scope="col"><%= __('product.quantity') %></th>
                    <th scope="col"><%= __('product.price.to-money') %></th>
                    <th scope="col"><%= __('product.bill.status') %></th>
                </tr>
            </thead>
            <tbody>
                <% if (bills.docs.length !== 0) { %>
                    <% bills.docs.forEach((bill) => { %>
                        <tr class="">
                            <td  class="number ">
                                <a href="/nguoi-dung/don-hang/<%= bill.code %>"><%= bill.code %> </a>

                            </td>
                            <td class="time">
                                <%= moment(bill.createAt).format('L') %>
                            </td>
                            <td class="name">
                                <a href="/nguoi-dung/don-hang/<%= bill.code %>">
                                    <% const billLength = bill.productBill.length %>
                                    <% if (billLength > 3) {%>
                                        <%= __('product.bill.products', {
                                            name: bill.productBill[0].product.name,
                                            quantity: billLength - 1
                                        })%>
                                    <% } else { %>
                                        <% bill.productBill.forEach((p, index) => { %>
                                            <%= p.product.name %><%= (index !== billLength - 1) ? ', ' : '' %>
                                        <% }) %>
                                    <% } %>
                                </a>
                            </td>
                            <td class="quantity"><%= bill.productBill.map(element => element.quantity).reduce((a, b) => a + b) %></td>
                            <td class="price">
                                <strong><%= formatPrice(bill.price) %> ₫</strong>
                            </td>
                            <td class="status">
                                <%= !bill.isApproved ? __('product.bill.not-approved') : __('product.bill.approved')  %>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
        <% if (bills.docs.length === 0 ) { %>
            <p class="message "><%= __('product.bill.no-bills') %></p>
        <% } %>
    </div>
    <% if (bills.docs.length) { %>
        <div class="card-footer clearfix order" style="margin-top: 30px;">
            <div class="pagination-list bill-pagination">
                <%- bills.renderPagination(bills, query.page) %>
            </div>
        </div>
    <% } %>
</div>
