<% layout('../../../layouts/admin/app') %>

<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/flat/green.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/image-picker/0.3.0/image-picker.min.css') %>

<% script('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js') %>
<% script('https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=z27ex772s1pdtappa5g4xgcmnefnoxrer6zhvwu743rri69i') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/image-picker/0.3.0/image-picker.min.js') %>


<% block('title', `Sản phẩm - ${product.name}`) %>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Cập nhật sản phẩm</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Chỉnh sửa sản phẩm</h3>
            </div>
            <div class="card-body">
                <form class="blog-articles__form" action="/admin/products/edit/<%= product._id %>" enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                        <label for="name">Tiêu đề</label>
                        <input type="text" class="form-control" value="<%= old('name', product.name) %>" id="name" name="name">
                        <p class="form__error-message"><%= errors('name') %></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Thể loại</label>
                                <select class="form-control" name="type" style="width: 100%;">
                                    <option value="0">Chọn thể loại</option>
                                    <% productTypes.forEach(function (element) { %>
                                        <option <%= old('type', product.type.toString()) == element._id.toString() ? 'selected' : '' %>
                                                value="<%= element._id %>"><%= element.name %></option>
                                    <% }) %>
                                </select>
                                <p class="form__error-message"><%= errors('type') %></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Chọn ảnh hiển thị chính (01 ảnh):</label>
                                <div class="">
                                    <input type="file" class="" name="image">
                                    <input type="hidden" name="imageUrl" value="<%= product.image ? product.image.cover : '' %>">
                                </div>
                                <p class="form__error-message"><%= errors('image') %></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12 col-md">
                            <label for="sku">Mã sản phẩm (SKU)</label>
                            <input type="text" class="form-control form__title__input" value="<%= old('sku', product.sku) %>" id="sku" name="sku">
                            <p class="form__error-message"><%= errors('sku') %></p>
                        </div>

                        <div class="col-12 col-md">
                            <label for="quantity">Số lượng hàng</label>
                            <input type="number" min="0" class="form-control form__title__input" value="<%= old('quantity', product.quantity) %>" id="quantity" name="quantity">
                            <p class="form__error-message"><%= errors('quantity') %></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12 col-md">
                            <div class="row justify-content-between m-0">
                                <div class="col p-0">
                                    <label for="price">Giá tiền: (ngàn đồng)</label>
                                </div>
                                <div class="col-auto text-right font-weight-light font-weight-bold">
                                    <span id="priceText">
                                        <%= old('priceValue', product.price.number) %>
                                    </span>
                                    <input type="hidden" name="priceValue" value="<%= old('priceValue', product.price.number) %>">
                                </div>
                            </div>
                            <div class="input-group">
                                <input type="text" autocomplete="off" maxlength="15" data-original="" class="form-control" id="price" name="priceInput" placeholder="Nhập giá (ngàn đồng)" value="">
                            </div>
                            <p class="form__error-message"><%= errors('priceValue') %></p>
                        </div>
                        <div class="col-12 col-md">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row justify-content-between m-0">
                                        <div class="col p-0">
                                            <label for="discount">Giảm giá (đơn vị %)</label>
                                        </div>
                                        <div class="col-auto text-right font-weight-light font-weight-bold">
                                            <span id="discountedPrice">

                                            </span>
                                            <input type="hidden" min="0" max="1" value="<%= old('discount', product.discount) ? old('discount', product.discount) : '' %>" id="discount" name="discount">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input type="number" min="0" max="100"
                                               class="form-control form__title__input" id="discountInput" name="discountInput">
                                        <p class="form__error-message"><%= errors('discount') %></p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col p-0">
                                        <label>&nbsp;</label>
                                    </div>
                                    <label for="isAgreement">
                                        <input type="checkbox" name="isAgreement" id="isAgreement" class="flat-red"
                                                <%= old('isAgreement', hasError() ? false : product.price.isAgreement) ? 'checked' : '' %>> Liên hệ
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group text-right image__form__representation">
                        <% let imageArray = old('images', product.image.array || []) %>
                        <span class="form__error-message"><%= errors('images') %></span>
                        <b>Đã có <%= imageArray.length %> bức ảnh được chọn</b>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Chọn ảnh sản phẩm (nhiều hình)
                        </button>
                    </div>

                    <div class="images">
                        <% imageArray = (typeof imageArray === 'string') ? [imageArray] : imageArray %>
                        <% imageArray.forEach((image) => { %>
                            <input type="hidden" name="images" value="<%= image %>">
                        <% }) %>
                    </div>

                    <div class="form-group">
                        <label>Thẻ</label>
                        <select class="form-control select2" multiple style="width: 100%;" name="tags">
                            <% let oldTags = old('tags', product.tags); let check; %>
                            <% oldTags = (typeof oldTags === 'string') ? [oldTags] : oldTags %>
                            <% productTags.forEach(function (tag) { %>
                                <% if (oldTags) { %>
                                    <% oldTags.some(function (oldTag) { %>
                                        <% check = (oldTag.toString() === tag._id.toString()) %>
                                        <% if (check) return true %>
                                    <% }) %>
                                <% } %>
                                <option value="<%= tag._id %>" <%= check ? 'selected' : '' %>><%= tag.name %></option>
                            <% }) %>
                        </select>
                        <p class="form__error-message"><%= errors('tags') %></p>
                    </div>

                    <div class="form-group">
                            <label for="info">Giới thiệu sản phẩm</label>
                            <textarea name="info" id="info" class="form-control tinymce"><%= old('info', product.info) %></textarea>
                            <p class="form__error-message"><%= errors('info') %></p>
                        </div>
                    <div class="form-group">
                        <label>Chi tiết sản phẩm</label>
                        <textarea name="detail" class="form-control form__content__input tinymce"><%= old('detail', product.detail) %></textarea>
                        <p class="form__error-message"><%= errors('detail') %></p>
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="isDraft" class="flat-red" <%= old('isDraft', hasError() ? false : product.isDraft) ? 'checked' : '' %>> Nháp
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal image__modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ảnh</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pick-image-tab" data-toggle="pill" href="#pick-image" role="tab"
                           aria-controls="pills-home" aria-selected="true">Chọn ảnh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#upload" role="tab"
                           aria-controls="pills-upload" aria-selected="false">Tải ảnh lên</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active image-picker__container" id="pick-image" role="tabpanel"
                         aria-labelledby="pick-image-tab">
                        <select class="image-picker" multiple="multiple">
                            <% images.docs.forEach((image) => { %>
                                <option data-img-src="<%= image.url %>" value="<%= image.url %>"></option>
                            <% }) %>
                        </select>
                        <%- images.renderPagination(images, query.page) %>
                    </div>
                    <div class="tab-pane fade" id="upload" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="dropzone"></div>
                        <div class="text-center">
                            <button class="btn btn-info images__upload-btn">
                                <i class="fa fa-cloud-upload"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancel-pick-image-btn" data-dismiss="modal">Tắt</button>
                <button type="button" class="btn btn-primary pick-image-btn" data-dismiss="modal">Chọn</button>
            </div>
        </div>
    </div>
</div>

<% block('scripts', `
<script>
    $(document).ready(function () {
        $('.select2').select2();
        $('input[type="checkbox"], input[type="radio"]').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });
        convertPercent();
        getCurrency();
        discountedPrice();
    });
</script>
`) %>

<% block('afterCustom', `
<script>
    const images = {
        url: [],
        tempUrl: [],
        max: 5,
        imagePickerOptions: {
            hide_select: true,
        }
    };

    Dropzone.autoDiscover = false;
    $(document).ready(() => {
        getImages(images, '.images');
        init_configDropzone(images, '.image-picker');
        init_imagePicker(images);
    });
</script>
`) %>
