<% layout('../../../layouts/admin/app') %>
<% script('https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=z27ex772s1pdtappa5g4xgcmnefnoxrer6zhvwu743rri69i') %>

<% block('title', 'Thông tin Website') %>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thông tin Website</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Thông tin website</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thông tin Website</h3>
            </div>
            <div class="card-body">
                <form class="blog-articles__form" action="" method="POST">
                    <div class="form-group row">
                        <div class="col-12 col-md">
                            <label for="name">Tên Website</label>
                            <input type="text" class="form-control form__title__input" value="<%= valInfo('title', info) %>" name="title">
                            <p class="form__error-message"><%= errors('title') %></p>
                        </div>
                        <div class="col-12 col-md">
                            <label for="bankAccount">Thẻ ngân hàng</label>
                            <input type="text" class="form-control"
                                   value="<%= old('bankAccount', info.bankAccount) %>" name="bankAccount">
                            <p class="form__error-message"><%= errors('bankAccount') %></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12 col-md">
                            <label for="sku">Tên công ty</label>
                            <input type="text" class="form-control form__title__input" value="<%= valInfo('company', info) %>" name="company">
                        </div>
                        <div class="col-12 col-md">
                            <label for="quantity">Tên đại diện</label>
                            <input type="text" class="form-control form__title__input" value="<%= valInfo('deputy', info) %>" name="deputy">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12 col-md">
                            <label for="sku">Mã số thuế</label>
                            <input type="text" class="form-control form__title__input" value="<%= valInfo('tax', info) %>" name="tax">
                            <p class="form__error-message"><%= errors('tax') %></p>
                        </div>
                        <div class="col-12 col-md">
                            <label for="quantity">Địa chỉ</label>
                            <input type="text" class="form-control form__title__input" value="<%= valInfo('location', info) %>" name="location">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12 col-md">
                            <label for="sku">Điện thoại</label>
                            <input type="text" class="form-control form__title__input" value="<%= valInfo('phone', info) %>" name="phone">
                            <p class="form__error-message"><%= errors('phone') %></p>
                        </div>
                        <div class="col-12 col-md">
                            <label for="quantity">Fax</label>
                            <input type="text" class="form-control form__title__input" value="<%= valInfo('fax', info) %>" name="fax">
                            <p class="form__error-message"><%= errors('fax') %></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12 col-md">
                            <label for="sku">Email</label>
                            <input type="text" class="form-control form__title__input" value="<%= valInfo('email', info) %>" name="email">
                            <p class="form__error-message"><%= errors('email') %></p>
                        </div>
                        <div class="col-12 col-md">
                            <label for="quantity">Cán bộ bảo mật</label>
                            <input type="text" class="form-control form__title__input" value="<%= valInfo('security', info) %>" name="security">
                            <p class="form__error-message"><%= errors('security') %></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="workingTime">Giờ làm việc</label>
                        <input type="text" class="form-control" value="<%= old('workingTime', info.workingTime) %>" name="workingTime">
                        <p class="form__error-message"><%= errors('workingTime') %></p>
                    </div>

                    <div class="form-group row">
                        <div class="col-12 col-md">
                            <label for="sku">Google Analytics</label>
                            <input type="text" class="form-control form__title__input" value="<%= valInfo('google', info) %>" name="google">
                        </div>
                        <div class="col-12 col-md">
                            <label for="quantity">Facebook Pixel</label>
                            <input type="text" class="form-control form__title__input" value="<%= valInfo('facebook', info) %>" name="facebook">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name">Giới thiệu</label>
                        <textarea name="about" class="form-control form__content__input tinymce"><%= valInfo('about', info) %></textarea>
                    </div>

                    <div class="form-group">
                        <label for="name">Chính sách bán hàng</label>
                        <textarea name="policy" class="form-control form__content__input tinymce"><%= valInfo('policy', info) %></textarea>
                    </div>

                    <div class="form-group">
                        <label for="name">Cam kết</label>
                        <textarea name="courage" class="form-control form__content__input tinymce"><%= valInfo('courage', info) %></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </form>
            </div>
        </div>
    </div>
</section>
