<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <!--<link href="//fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet"/>-->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300,900" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=vietnamese" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=vietnamese" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>


    <script type="text/javascript" src="/public/client/js/custom_init.js"></script>
    <%- block('beforeCommon') %>
    <link rel="stylesheet" href="/public/client/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/client/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/public/client/css/custom.css"/>
    <%- stylesheets %>

    <title><%= titleRedis(info) %> | <%= block('title') %></title>

    <meta name="author" content="<%= titleRedis(info) %>"/>
    <%- block('metaTags', `
        <meta name="description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
        <meta name="keywords" content="Đồ nội thất mây, đồ nội thất mây, ghế mây, đồ nội thất thủ công"/>

        <meta property="og:url" content="https://mayhienhome.com" id="fbUrl" />
        <!-- <meta property="og:type" content="article" /> -->
        <meta property="og:title" content="${titleRedis(info)}" />
        <meta property="og:description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
        <meta property="og:image" content="https://mayhienhome.com/public/client/images/logo/fullLogo.png" />
    `) %>

    <% if(infoRedis('', info, 'google') !== '') { %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%= info.google %>"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '<%= info.google %>');
        </script>
    <% }%>

    <% if(infoRedis('', info, 'facebook') !== '') { %>
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '<%= info.facebook %>');
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
                src="https://www.facebook.com/tr?id=<%= info.facebook %>&ev=PageView&noscript=1"/>
        </noscript>
    <% }%>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1&appId=301746350312092&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div id="header">
    <%- include partials/header.ejs %>
</div>
<hr class="layout"/>

<%- include partials/slides.ejs %>

<div id="wrap">
    <div id="container">
        <div class="fixed_row">
            <%- body %>
        </div>
        <hr class="layout"/>
    </div>
    <hr class="layout"/>

    <div class="fixed_copyright d-flex justify-content-center justify-content-md-between  align-items-center flex-md-row px-5">
        <span class="xans-element- xans-layout xans-layout-footer copyright col-auto">©
            <strong><%= titleRedis(info) %></strong>
            . ALL RIGHTS RESERVED.
            <a href="#" target="_blank"></a>
        </span>
        <span class="col-auto d-none d-md-flex align-items-center">
                <a href="https://www.facebook.com/noithatdanang.home/" class="d-flex" target="_blank"><i class="fa fa-facebook header__icon mr-3" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/mayhienhome/" class="d-flex" target="_blank"><i class="fa fa-instagram header__icon" aria-hidden="true"></i></a>
        </span>
    </div>
</div>
<hr class="layout"/>
<div id="footer">
    <%- include partials/footer.ejs %>
</div>

<div class=phone-call>
    <a href="tel:<%= info.phone %>" class=phone-call__icon>
        <i class="fa fa-phone" aria-hidden=true></i>
    </a>
    <div class=phone-call__content--wrap>
        <div class=phone-call__content--item>
            <a href="tel:<%= info.phone %>"><%= info.phone %></a>
        </div>
    </div>
</div>

<div id="scroll_up_down">
    <a href="#up" class="up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <a href="#up" class="down"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
</div>

<script type="text/javascript" src="/public/client/js/i18n1.js"
        charset="utf-8"></script>
<script type="text/javascript" src="/public/client/js/i18n2.js"
        charset="utf-8"></script>
<script type="text/javascript" src="/public/client/js/vendor.js"></script>
<script type="text/javascript" src="/public/client/js/test3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
<%- scripts %>
<script src="/public/client/js/custom.js"></script>
<%- block('script') %>
<script>
    $('#fbUrl').attr('content', location.href);
    var mobileWeb = false;
    <% if (flashMessages && flashMessages.success) { %>
        alert('<%= flashMessages.success %>');
    <% } %>
    <% if (flashMessages && flashMessages.error) { %>
        alert('<%= flashMessages.error %>');
    <% } %>
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-customerchat"
     attribution=setup_tool
     page_id="148677635307246"
     logged_in_greeting="Xin chào! Chúng tôi có thể giúp gì cho bạn?"
     logged_out_greeting="Xin chào! Chúng tôi có thể giúp gì cho bạn?">
</div>
</body>
</html>
