<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="/public/client/css/style.css">
    <link rel="stylesheet" href="/public/client/css/common.css">
    <!--<link rel="stylesheet" href="/public/client/css/custom.css">-->
    <!--<link rel="stylesheet" href="/public/client/css/styleOrderHistory.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/client/css/16520.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <title><%= block('title') %></title>
</head>

<body class="">
<div id="header">
    <%- include partials/header.ejs %>
</div>
<div id="main">
    <div id="wrapper" class="main-content-wrap">
        <div class="hero-wrap">
            <div class="hero-bg">
                <div class="bg"></div>
                <div class="overlay"></div>
            </div>
            <div class="hero-inner">
                <div class="container" style="text-align: center;">
                    <a href="/blog" class="title-blog" >Tin tức</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container">
            <div class="article-holder">
                <div class="article-wrap col-wrap display-single-post hassidebar">
                    <%- body %>
                </div>
                <div class="main-sidebar right-sidebar">
                    <%- include partials/blogSidebar.ejs %>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <%- include partials/footer.ejs %>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
<script>
    $('.lazyload').lazy({
        effect: 'fadeIn',
        effectTime: 1000,
        threshold: 0,
    });
</script>
</body>
</html>
