<% layout('/layouts/client/app') %>

<% script('https://cdnjs.cloudflare.com/ajax/libs/validator/10.7.1/validator.min.js') %>

<% block('title', 'Liên hệ') %>

<div class="sub-banner overview-bgi">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Liên hệ</h1>
                <ul class="breadcrumbs">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active">Liên hệ</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Contact body start -->
<div class="contact-1 content-area-7">
    <div class="container">
        <div class="main-title">
            <h1>Liên hệ với chúng tôi</h1>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                <!-- Contact form start -->
                <div class="contact-form">
                    <form action="/lien-he" method="POST" class="request__form">
                        <% if (flashMessages && flashMessages.success) { %>
                            <div class="alert alert-success"  role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong><%= flashMessages.success %></strong>
                            </div>
                        <% } %>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="name" class="input-text"
                                           placeholder="Họ tên" value="<%= old('name') %>">
                                    <p class="form__error-message">&nbsp;<%= errors('name') %></p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <input type="email" name="email" class="input-text"
                                           placeholder="Email" value="<%= old('email') %>">
                                    <p class="form__error-message">&nbsp;<%= errors('email') %></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="telephone" class="input-text"
                                           placeholder="Số điện thoại" value="<%= old('telephone') %>">
                                    <p class="form__error-message">&nbsp;<%= errors('telephone') %></p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="title" class="input-text"
                                           placeholder="Tiêu đề" value="<%= old('title') %>">
                                    <p class="form__error-message">&nbsp;<%= errors('title') %></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                                <div class="form-group message">
                                    <textarea class="input-text" name="content"
                                              placeholder="Nội dung tin nhắn"><%= old('content').trim() %></textarea>
                                    <p class="form__error-message">&nbsp;<%= errors('content') %></p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group send-btn mt-1">
                                    <button type="submit" class="button-md button-theme">Gửi</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Contact form end -->
            </div>
            <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-6 col-xs-12">
                <!-- Contact details start -->
                <div class="contact-details">
                    <div class="main-title-2">
                        <h3>Địa chỉ</h3>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="media-body">
                            <h4>Địa chỉ văn phòng</h4>
                            <p>20/F Green Road, Dhanmondi, Dhaka</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h4>Số điện thoại</h4>
                            <p>
                                <a href="tel:0477-0477-8556-552">Văn phòng: 0477 8556 552</a>
                            </p>
                            <p>
                                <a href="tel:+55-417-634-7071">Di động: +55 417 634 7071</a>
                            </p>
                        </div>
                    </div>
                    <div class="media mb-0">
                        <div class="media-left">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="media-body">
                            <h4>Địa chỉ email</h4>
                            <p><a href="mailto:info@themevessel.com">info@themevessel.com</a></p>
                            <p><a href="http://themevessel.com" target="_blank">http://themevessel.com</a></p>
                        </div>
                    </div>
                </div>
                <!-- Contact details end -->
            </div>
        </div>
    </div>
</div>
<!-- Contact body end -->


<!-- Google map start -->
<div class="section">
    <div class="map">
        <div id="map" class="contact-map"></div>
    </div>
</div>
<!-- Google map end -->
