<% layout('/layouts/client/app') %>

<% script('/public/client/js/map/google-maps/index.js') %>
<% script('https://maps.googleapis.com/maps/api/js?key=AIzaSyA8wo20T1FmZQ1gOxeppA2IXCwQTiC4V6U&libraries=drawing&callback=initMap') %>

<div class="sub-banner overview-bgi">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Bài viết chi tiết</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Trang chủ</a></li>
                    <li class="active">Bài viết chi tiết</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="content-area  properties-details-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="heading-properties clearfix sidebar-widget">
                    <div class="pull-left">
                        <h3><%= propertyArticle.title %></h3>
                        <p>
                            <i class="fa fa-map-marker"></i><%= propertyArticle.address %>
                        </p>
                    </div>
                    <div class="pull-right">
                        <h3><span><%= propertyArticle.showPrice() %></span></h3>
                        <h5><%= propertyArticle.price.type ? propertyArticle.price.type.name : '' %></h5>
                    </div>
                </div>
                <div class="Properties-details-section sidebar-widget">
                    <div class="properties-detail-slider simple-slider mb-40">
                        <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                            <div class="carousel-outer">
                                <div class="carousel-inner">
                                    <% propertyArticle.display.images.forEach((image, index) => { %>
                                        <div class="item <%= index === 0 ? 'active' : '' %>">
                                            <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                                                 data-src="<%= image %>" class="thumb-preview lazyload">
                                        </div>
                                    <% }) %>
                                </div>
                                <a class="left carousel-control" href="#carousel-custom" role="button"
                                   data-slide="prev">
                                    <span class="slider-mover-left no-bg t-slider-r pojison" aria-hidden="true">
                                        <i class="fa fa-angle-left"></i>
                                    </span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-custom" role="button"
                                   data-slide="next">
                                    <span class="slider-mover-right no-bg t-slider-l pojison" aria-hidden="true">
                                        <i class="fa fa-angle-right"></i>
                                    </span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <ol class="carousel-indicators thumbs visible-lg visible-md">
                                <% propertyArticle.display.images.forEach((image, index) => { %>
                                    <li data-target="#carousel-custom" data-slide-to="<%= index %>">
                                        <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                                             data-src="<%= image %>" class="lazyload">
                                    </li>
                                <% }) %>
                            </ol>
                        </div>
                    </div>
                    <div class="panel-box properties-panel-box property-description">
                        <ul class="nav nav-tabs" style="text-align: center;">
                            <li class="active"><a href="#tab1default" data-toggle="tab" aria-expanded="true">Mô tả</a></li>
                            <li class=""><a href="#tab2default" data-toggle="tab" aria-expanded="false">Cơ sở vật chất</a>
                            </li>
                            <li class=""><a href="#tab3default" data-toggle="tab" aria-expanded="false">Nội thất</a>
                            </li>
                            <% if (propertyArticle.display.video) { %>
                                <li class=""><a href="#tab5default" data-toggle="tab" aria-expanded="false">Video</a></li>
                            <% } %>
                        </ul>
                        <div class="panel with-nav-tabs panel-default">
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="tab1default">
                                        <div class="main-title-2">
                                            <h1><span>Mô tả</span></h1>
                                        </div>
                                        <%- propertyArticle.description %>
                                    </div>
                                    <div class="tab-pane fade features" id="tab2default">
                                        <div class="properties-condition">
                                            <div class="main-title-2">
                                                <h1><span>Cơ sở vật chất</span></h1>
                                            </div>
                                            <div class="row">
                                                <% propertyArticle.conditions.forEach((element) => { %>
                                                    <% if (element.condition.name) { %>
                                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                                            <ul class="condition">
                                                                <li>
                                                                    <i class="fa fa-check-square"></i><%= element.quantity %>
                                                                    <%= element.condition.name %>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    <% }%>
                                                <% }) %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade technical" id="tab3default">
                                        <div class="properties-amenities">
                                            <div class="main-title-2">
                                                <h1><span>Nội thất</span></h1>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                    <ul class="amenities">
                                                        <% for (let i = 0; i < Math.round(propertyArticle.amenities.length / 3); i += 1) { %>
                                                            <li><i class="fa fa-check-square"></i><%= propertyArticle.amenities[i].name %></li>
                                                        <% } %>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                    <ul class="amenities">
                                                        <% for (let i = Math.ceil(propertyArticle.amenities.length / 3);
                                                                i < Math.round(propertyArticle.amenities.length * 2 / 3);
                                                                i += 1) { %>
                                                            <li><i class="fa fa-check-square"></i><%= propertyArticle.amenities[i].name %></li>
                                                        <% } %>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                    <ul class="amenities">
                                                        <% for (let i = Math.ceil(propertyArticle.amenities.length * 2 / 3);
                                                                i < propertyArticle.amenities.length;
                                                                i += 1) { %>
                                                        <li><i class="fa fa-check-square"></i><%= propertyArticle.amenities[i].name %></li>
                                                        <% } %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% if (propertyArticle.display.video) { %>
                                        <div class="tab-pane fade" id="tab5default">
                                            <div class="inside-properties">
                                                <div class="main-title-2">
                                                    <h1><span>Video</span></h1>
                                                </div>
                                                <iframe src="<%= propertyArticle.display.video %>" allowfullscreen=""></iframe>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="location sidebar-widget">
                    <div class="map" data-key="<%= propertyArticle._id %>">
                        <div class="main-title-2">
                            <h1><span>Vị trí</span></h1>
                        </div>
                        <div id="map-content" class="contact-map"></div>
                    </div>
                </div>
                <div class="Properties-details-section sidebar-widget">
                    <div class="contact-1">
                        <div class="contact-form">
                            <div class="main-title-2">
                                <h1><span>Contact</span> with us</h1>
                            </div>
                            <form id="contact_form" action="index.html" method="GET" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group fullname">
                                            <input type="text" name="full-name" class="input-text"
                                                   placeholder="Full Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group enter-email">
                                            <input type="email" name="email" class="input-text"
                                                   placeholder="Enter email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group subject">
                                            <input type="text" name="subject" class="input-text" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group number">
                                            <input type="text" name="phone" class="input-text"
                                                   placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group message">
                                            <textarea class="input-text" name="message"
                                                      placeholder="Write message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group send-btn mb-0">
                                            <button type="submit" class="button-md button-theme">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar right">
                    <%- include ../../../layouts/client/partials/search.ejs %>

                    <%- include ../../../layouts/client/partials/sidebar.ejs %>
                </div>
            </div>
        </div>
    </div>
</div>

<% block('scripts', `
<script>
    $('#carousel-custom').on('slide.bs.carousel', function () {
        var $nextImage = $('.active.item', this).next('.item').find('img');
        $nextImage.attr('src', $nextImage.data('src'));
    });
</script>
`) %>
