<% layout('/layouts/client/app') %>

<% script('https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=kohqnigwmla1nr4w3k7rpqcrl8qvhh1uvmjz5cn6c2mzglxv') %>

<% block('title', `Bất động sản - ${propertyArticle.title}`) %>

<div class="sub-banner overview-bgi">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Chỉnh sửa bài viết</h1>
                <ul class="breadcrumbs">
                    <ul class="breadcrumbs">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="active">Nguời dùng</li>
                        <li class="active"><a href="/nguoi-dung/bai-viet-cua-toi">Bài viết của tôi</a></li>
                        <li class="active">
                            <a href="/nguoi-dung/bai-viet-bat-dong-san/<%= propertyArticle.slug %>">Bài viết</a>
                        </li>
                        <li class="active">Chỉnh sửa</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Submit Property start -->
<div class="content-area-7 submit-property">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="submit-address">
                    <form action="/nguoi-dung/bai-viet-bat-dong-san/<%= propertyArticle._id %>" method="POST" enctype="multipart/form-data">
                        <div class="main-title-2">
                            <h1><span>Basic</span> Information</h1>
                        </div>
                        <div class="search-contents-sidebar mb-30">
                            <div class="form-group">
                                <label>Tiêu đề</label>
                                <input type="text" class="input-text" name="title" placeholder="Nhập tiêu đề"
                                       value="<%= old('title', propertyArticle.title) %>">
                                <p class="form__error-message"><%= errors('title') %></p>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Loại hình</label>
                                        <select class="selectpicker search-fields" name="category">
                                            <option value="0">Chọn loại hình</option>
                                            <% propertyCategories.forEach(function (category) { %>
                                            <option value="<%= category._id %>"
                                                    <%= category._id.toString() === old('category', propertyArticle.category.toString()) ? 'selected' : '' %>>
                                                <%= category.name %>
                                            </option>
                                            <% }) %>
                                        </select>
                                        <p class="form__error-message"><%= errors('category') %></p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Hình thức kinh doanh</label>
                                        <select class="selectpicker search-fields" name="type">
                                            <option value="0">Chọn hình thức kinh doanh</option>
                                            <% propertyTypes.forEach(function (type) { %>
                                            <option value="<%= type._id %>" <%= type._id.toString() === old('type', propertyArticle.type.toString()) ? 'selected' : '' %>>
                                                <%= type.name %>
                                            </option>
                                            <% }) %>
                                        </select>
                                        <p class="form__error-message"><%= errors('type') %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Trạng thái</label>
                                        <select class="selectpicker search-fields" name="status">
                                            <option value="0">Chọn trạng thái</option>
                                            <% propertyStatuses.forEach(function (status) { %>
                                            <option value="<%= status._id %>"
                                                    <%= status._id.toString() === old('status', propertyArticle.status.toString()) ? 'selected' : '' %>>
                                                <%= status.name %>
                                            </option>
                                            <% }) %>
                                        </select>
                                        <p class="form__error-message"><%= errors('status') %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label>Giá</label>
                                        <input type="number" class="input-text" name="price[value]" placeholder="Giá"
                                               value="<%= old('price.value', propertyArticle.price.value) %>">
                                        <p class="form__error-message"><%= errors('price.value') %></p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label>Loại giá</label>
                                        <select class="selectpicker search-fields" name="price[type]">
                                            <% priceTypes.forEach(function (priceType) { %>
                                            <option value="<%= priceType._id %>" <%= priceType._id.toString() === old('price.type', propertyArticle.price.type ? propertyArticle.price.type.toString() : '') %>>
                                                <%= priceType.name %>
                                            </option>
                                            <% }) %>
                                        </select>
                                        <p class="form__error-message"><%= errors('price.type') %></p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label>Kiểm tra</label>
                                        <input type="text" readonly name="price[display]"
                                               class="input-text" value="<%= old('price.display', propertyArticle.price.display) %>">
                                        <p class="form__error-message"><%= errors('price.display') %></p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label>Thỏa thuận</label>
                                        <div class="checkbox checkbox-theme checkbox-circle">
                                            <input type="checkbox" name="price[isAgreement]" id="isAgreement"
                                                    <%= old('price.isAgreement', propertyArticle.price.isAgreement) ? 'checked' : '' %>>
                                            <label for="isAgreement"></label>
                                        </div>
                                        <p class="form__error-message"><%= errors('price.isAgreement') %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-title-2">
                            <h1><span>Location</span></h1>
                        </div>
                        <div class="row mb-30">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Tỉnh / Thành phố</label>
                                    <select class="selectpicker search-fields" name="city"
                                            data-live-search="true" data-live-search-placeholder="Search value">
                                        <option value="0">Chọn tỉnh / thành phố</option>
                                        <% cities.forEach(function (city) { %>
                                        <option value="<%= city._id %>" <%= city._id.toString() === old('city', propertyArticle.city.toString()) ? 'selected' : '' %>>
                                            <%= city.name %>
                                        </option>
                                        <% }) %>
                                    </select>
                                    <p class="form__error-message"><%= errors('city') %></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Quận / Huyện</label>
                                    <select class="selectpicker search-fields" name="district" data-live-search="true" data-live-search-placeholder="Search value">
                                        <option value="0">Chọn quận / huyện</option>
                                        <% districts.forEach(function (district) { %>
                                        <option value="<%= district._id %>" data-city="<%= district.city %>"
                                                <%= district._id.toString() === old('district', propertyArticle.district.toString()) ? ' selected' : '' %>>
                                            <%= district.name %>
                                        </option>
                                        <% }) %>
                                    </select>
                                    <p class="form__error-message"><%= errors('district') %></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <input type="text" class="input-text" name="address"  placeholder="Nhập địa chỉ"
                                           value="<%= old('address', propertyArticle.address) %>">
                                    <p class="form__error-message"><%= errors('address') %></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Diện tích (m<sup>2</sup>)</label>
                                    <input type="number" class="input-text" name="area"  placeholder="Nhập diện tích"
                                           value="<%= old('area', propertyArticle.area) %>">
                                    <p class="form__error-message"><%= errors('area') %></p>
                                </div>
                            </div>
                        </div>

                        <div class="main-title-2">
                            <h1><span>Detailed</span> Information</h1>
                        </div>

                        <div class="row mb-30">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Mô tả</label>
                                    <textarea class="input-text tinymce" name="description"
                                              placeholder="Detailed Information"><%= old('description', propertyArticle.description) %></textarea>
                                    <p class="form__error-message"><%= errors('description') %></p>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-30">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>Ảnh</label>
                                    <input type="file" class="input-text" name="image">
                                    <input type="hidden" name="imageUrl" value="<%= propertyArticle.display.image %>">
                                    <p class="form__error-message"><%= errors('image') %></p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>Video</label>
                                    <input type="text" class="input-text" name="video" placeholder="Nhập video"
                                           value="<%= old('video', propertyArticle.video) %>">
                                    <p class="form__error-message"><%= errors('video') %></p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>Nội thất</label>
                                    <select class="selectpicker search-fields" name="city" data-live-search="true"
                                            data-live-search-placeholder="Chọn nội thất" multiple>
                                        <% const oldAmenities = old('amenities', propertyArticle.amenities); let check; %>
                                        <% propertyAmenities.forEach(function (amenity) { %>
                                            <% check = false %>
                                            <% if (oldAmenities) { %>
                                                <% oldAmenities.some(function (oldAmenity) { %>
                                                    <% check = (oldAmenity.toString() === amenity._id.toString()) %>
                                                    <% if (check) return true %>
                                                <% }) %>
                                            <% } %>
                                            <option value="<%= amenity._id %>" <%= check ? 'selected' : '' %>><%= amenity.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="margin-t-10">Cơ sở vật chất</label>
                                <div class="row">
                                    <% propertyConditions.forEach(function (condition) { %>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"><%= condition.name %></label>
                                            <input type="number" class="input-text" name="conditions[<%= condition._id %>]"
                                                   placeholder="Nhập <%= condition.name %>"
                                                   value="<%= old(`conditions.${condition._id}`) || condition.quantity %>">
                                        </div>
                                    </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nháp</label>
                            <div class="checkbox checkbox-theme checkbox-circle">
                                <input type="checkbox" name="isDraft" id="isDraft"
                                        <%= old('isDraft', propertyArticle.isDraft) ? 'checked' : '' %>>
                                <label for="isDraft"></label>
                            </div>
                            <p class="form__error-message"><%= errors('isDraft') %></p>
                        </div>
                        <button class="btn button-sm button-theme">Đăng bài</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% block('scripts', `
<script>
    $(document).ready(function () {
        tinymce.init({
            selector: 'textarea.tinymce',
            height: 350,
            plugins: 'print preview fullpage searchreplace autolink directionality visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount imagetools contextmenu colorpicker textpattern help',
            toolbar: "insertfile undo redo | styleselect | fontsizeselect | bold italic strikethrough forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            images_upload_handler: function (blobInfo, success, failure) {
                const formData = new FormData();
                formData.append('images', blobInfo.blob(), blobInfo.filename());
                $.ajax({
                    url: '/admin/images/upload',
                    type: 'POST',
                    dataType: 'json',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        if (!res.status) {
                            failure(res.error.message[0]);
                        }
                        success(res.data[0]);
                    }
                });
            }
        });
    });
</script>
`) %>
