<% layout('/layouts/client/app') %>

<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css') %>

<% script('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js') %>

<div class="sub-banner overview-bgi">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>My Properties</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">My Properties</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="content-area-7 my-properties">
    <div class="container">
        <div class="row">
            <% include ../../../layouts/client/partials/userSidebar.ejs %>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="main-title-2">
                    <h1><span>My</span> Properties</h1>
                </div>
                <table class="manage-table responsive-table module__table" data-delete-url="/nguoi-dung/bai-viet-bat-dong-san">
                    <tbody>
                    <% propertyArticles.docs.forEach((article) => { %>
                        <tr data-key="<%= article._id %>">
                            <td class="title-container">
                                <img src="<%= article.display.image %>" class="img-responsive hidden-xs">
                                <div class="title">
                                    <h4><a href="#"><%= article.title %></a></h4>
                                    <span><i class="fa fa-map-marker"></i><%= article.address %></span>
                                    <% if (article.price.display) { %>
                                        <span class="table-property-price"><%= article.price.display %></span>
                                    <% } %>
                                </div>
                            </td>
                            <td class="expire-date hidden-xs"><%= moment(article.createdAt).format('DD/MM/YYYY') %></td>
                            <td class="property-articles__table action">
                                <a href="/nguoi-dung/bai-viet-bat-dong-san/<%= article.slug %>" class="edit">
                                    <i class="fa fa-pencil"></i> Sửa
                                </a>
                                <a <%= article.isApproved ? 'class=active' : '' %>><i class="fa fa-check"></i> Duyệt</a>
                                <button class="delete module__delete-btn"><i class="fa fa-remove"></i> Delete</button>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="counters overview-bgi">
    <div class="container">

        <div class="row">
            <div class="col-md-3 col-sm-6 bordered-right">
                <div class="counter-box">
                    <i class="flaticon-tag"></i>
                    <h1 class="counter">967</h1>
                    <p>Listings For Sale</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 bordered-right">
                <div class="counter-box">
                    <i class="flaticon-symbol-1"></i>
                    <h1 class="counter">1276</h1>
                    <p>Listings For Rent</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 bordered-right">
                <div class="counter-box">
                    <i class="flaticon-people"></i>
                    <h1 class="counter">396</h1>
                    <p>Agents</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-people-1"></i>
                    <h1 class="counter">177</h1>
                    <p>Brokers</p>
                </div>
            </div>
        </div>
    </div>
</div>
